.agency-page{
    display: block;
    margin-top: 80px;
}

.agency-banner{
    position: relative;
    height: 200px;
}

.certifiedIcon{
    color: #2396ec;
    font-size: 35px !important;
    margin-right: 5px;
    position: relative;
    top: -3px;
}

.agency-banner img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.agency-banner .gradient{
    position: relative;
    z-index: 100;
    height: 100%;
    padding: 50px 10%;
    color:#fff;
    background-image: linear-gradient(to right, #000000ba, #00000024);
}

.agency-header .gardienStyle .big-text h1{
    font-size: 35px;
    font-family: var(--bold);
    color: #fff;
}

.agency-header .gardienStyle .path a:hover{
    color: var(--orange);
}

.agency-banner .path,
.agency-banner .big-text{
    position: relative;
    z-index: 100;
    color: #fff;
}


.agency-banner .path a{
    color: #fff;
}

.all-agency{
    display: flex;
    padding: 50px 10%;
    justify-content: space-between;
}

.all-agency .agency-list{
    width: 75%;
}

.all-agency .utility{
    width: 25%;
}

.all-agency .utility .title{
    font-size: 22px;
    color: var(--black);
    margin-bottom: 10px;
}

.filter-box{
    border: 1px solid #e5e5e5;
    box-shadow: 0 0 2px rgba(100, 100, 100, 0.1);
    height: 230px;
    border-radius: 5px;
    padding: 30px;
}

.filter-box .field{
    margin-top: 20px;
}

.filter-box .field label{
    display: block;
    margin-bottom: 5px;
}

.filter-box .field input,
.filter-box .field select{
    display: block;
    height: 40px;
    width: 100%;
    padding: 0 5px;
    background: #f5f5f5;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.filter-box .button{
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}

.filter-box .button button{
    background: var(--blue);
    height: 40px;
    width: 150px;
    color: #fff;
    border-radius: 5px;
}

.join{
    margin-top: 20px;
    height: 450px;
    position: relative;
    border-radius: 5px;
}

.join img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.join-side{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding: 40px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1),  rgba(0, 0, 0, 0.9));
}

.join-side span{
    color: #fff;
    font-size: 21px;
    display: block;
    margin-bottom: 20px;
}

.join-side a{
    /* width: 200px; */
    background: var(--orange);
    height: 40px;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
}

.listing-side{
    display: flex;
    min-height: 710px;
    flex-wrap: wrap;
}

.agency-skeletonBox{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uno-agency{
    width: 30%;
    margin-right: 3%;
    background: #f5f5f5;
    border-radius: 0 0 10px 10px;
    position: relative;
    margin-top: 3%;
    height: 355px;
    overflow: hidden;
}

.uno-agency img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.uno-agency .avatar-text{
    height: 200px;
    font-size: 100px;
    text-align: center;
    line-height: 200px;
    color: #fff;
}

.uno-agency span.count{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
    background: var(--orange);
    padding: 1px 10px;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
}

.uno-agency .uno-agency-title{
    padding: 15px;
    font-size: 14px;
    height: 80px;
}

.uno-agency .uno-agency-title span{
    font-size: 18px;
    color: var(--blue);
    display: block;
}

.uno-agency .uno-agency-title span svg{
    font-size: 18px;
    color: #2396ec;
    position: relative;
    top: -2px;
}

.uno-agency .bottom{
    border-top: 1px solid #e5e5e5;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.uno-agency .bottom a.btn{
    border: 1px solid var(--orange);
    color: var(--orange);
    font-size: 14px;
}

.uno-agency .bottom a.call svg{
    color: #727272;
    font-size: 20px;
    margin-top: 7px;
}

.uno-agency .bottom a.call{
    background: #e9e9e9;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    margin-top: 5px                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            px;
}


.paginate-index{
    width: 250px;
    margin: 30px auto;
    text-align-last: center;
}

.paginate-index .liner{
    height: 5px;
    padding: 0;
    margin: 10px 0;
    border-radius: 30px;
    width: 250px;
    background: #e9e9e9;
}

.paginate-index .selected{
    color: var(--orange);
    text-decoration: underline;
    cursor: pointer;
}

.paginate-index .liner span{
    display: block;
    height: 100%;
    background: var(--orange);
}

.pagination-index_none{
    opacity: 0;
    visibility: hidden;
}

.a-listing .agency-avatar{
    display: none;
}

.a-listing .property-body{
    position: relative;
}

.a-listing .property-body .desc{
    display: block;
}

.a-listing .property-body .property-bottom{
    position: absolute;
    width: 95%;
    height: 50px;
    bottom: 0;
    align-items: center;
}

.agency-header .gardienStyle .path{
    color: #ccc;
}

.agency-header .gardienStyle .path a{
    color:#fff;
}

.strong-span{
    font-weight: bold;
    text-decoration: underline;
}

.sectionTitle.meduim.small{
    font-size: 20px;
}
@media only screen and (max-width:1200px) {
    .join-side {
        padding:30px;
    }
}

@media only screen and (max-width:992px) {
    .all-agency {
        padding: 50px 4%;
        flex-direction: column;
    }

    .all-agency .agency-list {
        width: 100%;
    }

    .all-agency .utility {
        width: 100%;
    }

    .join-side a {
        width: 200px;
    }

    .listing-side {
        min-height: 400px;
    }
}




@media only screen and (max-width:768px) {
    .a-listing .property-body .title {
        margin-top: 0px;
    }

    .a-listing .property-body .property-bottom {
        position: static;
    }

    .uno-agency{
        width: 50%;
        margin-right: 3%;
    }


}



@media only screen and (max-width: 576px) {
    .agency-header .gardienStyle .big-text h1 {
        font-size: 30px;;
        margin-top: -11px;
    }
}


@media only screen and (max-width: 576px) {
    .listing-side {
        flex-direction: column;
    }

    .uno-agency{
        width: 100%;
        margin-right: 3%;
        margin-bottom: 10px;
    }
}





