.agency-banner .big-text h1 {
    font-size: 35px;
    font-family: var(--bold);
}

.agency-header{
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    height: 200px;
    position: relative;
    margin-top: 80px;
}

.agency_logo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    padding: 15px;
    left: 100px;
    top: 70%;
    z-index: 55;
    overflow: hidden;
    margin-bottom: 30px;
}

.agency-detail-banner{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.agency-detail-banner h1{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 35px;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.931);
    text-align: center;
}

.agency-information{
    min-height:100px;
    width: 100%;
    padding-right: 30px;
}

.agency__contact{
    width: 100%;
    min-height: 100px;
    background-color: #dde2ff85;
    padding: 15px;
}

.info-line{
    margin-bottom: 15px;
}

.agency__contact h3{
    font-size:18px ;
    text-transform:capitalize;
    border-radius: 5px;
    padding: 15px;
    background-color: var(--blue);
    color:#fff;
}

.agency-banner-call{
    position: absolute;
    left:280px;
    top: 73%;
    z-index: 55;
    color:#fff;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
    
}

.sectionTitle.agency-resume{
    font-size: 26px;
}

.desciption-texte p{
    font-size: 16px;
}

.desciption-texte{
    padding-right: 100px;
}

.agency_properties_item{
    width: 100%;
    min-height: 400px;
    border:1px solid rgba(0, 0, 0, 0.52);
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
}

.agency_properties_item--illus{
    width: 100%;
    height: 250;
    border:1px solid rgba(0, 0, 0, 0.52);
}
.agency_properties_item--illus img{
    height: 250px;
    object-fit: cover;
}

.agency_properties_item--descr{
    
}


.agency_properties_item-adress {
    color: #727272;
    margin-bottom: 10px;
}

.agency_properties_item-title{
    font-size: 20px;
    color: var(--blue);
    margin-top: 3px;
    margin-bottom: 3px;
}
.descr--last_line{
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    padding: 5px 15px;
    justify-content: space-between;
    align-items: center;
}

.agency_properties_item--cat{
    position: absolute;
    top:0;
    right: 0;
    font-size: 13px;
    font-weight: 400;
    padding:5px;
    color:#fff;
    border-bottom-left-radius: 5px;
    background-color: var(--orange);
    z-index: 55;
}

.descr--one{
    padding: 15px;
}

.agency_fav {
    background-color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid black
}

/*  */
.agency-header_title{
    position:absolute;
    top:50%;
    left: 150px;
    color:#fff;
    z-index: 999;
} 


.agence_site_items{
    display: flex;
}

.agence_site_main{
    width: 80%;
}

.agence_site_info{
    width: 30%;
    margin-top: 50px;
}

.logo-box{
    width: 100%;
    height: 150px;
}

.contact_info{
    margin-top: 50px;
    background-color: #dde2ff85;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact_info__liste{
    margin-top: 15px;
    padding: 5px 15px;
    display: flex;
}


.contact_info__liste a{
    font-size: 18px;
    font-weight: 700;
    color: #212529;

}

.contact_info__liste svg{
    font-size: 30px;
    margin-right: 20px;
    color: var(--blue);
}

.pub-card{
    margin-top: 20px;
    width: 100%;
    height: 400px;
    background-color: #2125291a;
}

.agencyAvatar,.gardienStyle{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    
}

.agencyAvatar{
    z-index:10;
    width: 100%;
    height: 100%;
    object-fit: cover;    
}


.gardienStyle{
    z-index: 100;
    height: 100%;
    padding: 50px 10%;
    background-image: linear-gradient(to right, #000000ba, #00000024);
}





/* responsive */

@media only screen and (max-width: 992px) {
    .form_banner {
        width: 100%;
    }
    .banner {
        padding: 70px 6%;
    }

    .agence_site_main{
        width: 100%;
    }

    .agence_site_items {
        flex-direction: column;
    }

    .agency-information {
        padding-right: 0px;
    }

    .agence_site_info {
        width: 100%;
    }
}


@media only screen and (max-width: 576px) {
    .agence_site_items {
        padding-left: 10px;
        padding-right: 10px;
    }

    .agency-header{
        height: 230px;
    }

    .gardienStyle{
        padding: 50px 5%;
    }

    .agency-banner .big-text h1 {
        font-size: 30px;
    }
    

}

@media only screen and (max-width: 425px) {

    .agency-header {
        height: 177px;
    }

}
