.article-content{

}

.article-content img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.titles{
    padding: 20px 0;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 30px;
}

.titles .title{
    margin-bottom: 7px;
    font-size: 19px;
    font-family: var(--bold);
}

.titles .date{
    font-size: 15px;
    color: #525252;
    margin-top: 5px;
}

.titles .date svg{
    font-size: 15px;
    position: relative;
    top: -2px;
    margin-right: 3px;
}

.titles .tags{
    border-left: 5px solid var(--blue);
    padding-left: 5px;
    padding: 3px 10px;
}

.titles .t-bottom{
    display: flex;
    justify-content: space-between;
}

.titles .s-tit{
    font-size: 17px;
    font-family: var(--bold);
}