.banner{
    width: 100%;
    height: 650px;
    margin: 0 auto;
    background-color: rgb(225, 220, 228);
    background-image: url("../assets/background.jpg");
    background-size: cover;
    background-position: right;
    padding: 70px 10%;
}

.text-intro .big{
    font-size: 60px;
    font-family: var(--bold);
    letter-spacing: 2px;
    line-height: 65px;
    text-transform: capitalize;
}

/* .text-intro p{
    margin-top: 40px;
    color: #525252;
    font-size: 16px !important;
} */

p.banner-para{

}

.banner_content{
    width: 100%;
    height: 100%;
    position: relative;
}

.text-intro{
    margin-bottom: 70px;
}

.text-intro p{
    font-size: 18px;
}

.big.home{
    display: flex;
    flex-direction: column;
}

/**/
@media only screen and (max-width: 1024px){
    .form_banner {
        width: 100%!important;
    }    
}

@media only screen and (max-width: 768px){
    .banner{
        height: 550px;
        /* background-image:linear-gradient(rgba(0, 0, 0, 0.116), rgba(0, 0, 0, 0.116)),url("../assets/background.jpg"); */
        background-image:none;
        background-color: var(--grey);
    }

    .big.home{
        justify-content: center;
        align-items: center;
    }

    .text-intro {
        margin-bottom: 25px;
        /* padding-top: 40px; */
        text-align: center;
    }

    .text-intro .big{
        font-size: 50px;
        font-family: var(--bold);
        letter-spacing: 1px;
        line-height: 45px;
        /* text-shadow: 0em 0.1em 0.1em rgb(0, 0,0,0.4); */
        /* color:#fff; */
    }

    .text-intro .big .text-color{
        /* color:#fff; */
    }

    .big.home{
        display: initial;
        text-align: center;
    }

    .form_banner .formFields{
        flex-direction: column;
    }

    .form_banner .formFields .form-group{
        width: 100%!important;
        margin-right: 0;
    }
}

@media only screen and (max-width: 576px){
    .text-intro p{
        text-align: center;
     }
 
    .banner-formBtn{
        display:block;
        width: 100%!important;
    }

    .banner{
        padding: 44px 6%!important;
    }

    .text-intro .big {
       font-size: 30px;
    }

    .banner-formBtn{
        display:block;
        width: 100%!important;
    }

    .form_banner .formFields {
        box-shadow: -20px -3px 27px -6px rgb(0, 0, 0, 0.22);
    }
}

@media only screen and (max-width: 400px){
    .text-intro .big {
        font-size: 28px;
        line-height: 28px;
    }

    .text-intro {
        padding-top: 0px;
    }
}

