.blog{
    padding: 120px 5%;
    display: flex;
}

.image-background{
    display: block;
    height: 400px;
    position: relative;
    border-radius: 10px;
}

.current{
    width: 65%;
}

.split-search{
    width: 35%;
    padding-left: 50px;
}

.split-search .blocked{
    position: sticky;
    top: 100px;
}

.split-search .search{
    display: flex;
}

.split-search .search input{
    height: 45px;
    border: 1px solid #e5e5e5;
    padding: 0 10px;
    width: 65%;
}

.split-search .search button{
    width: 35%;
    background: var(--blue);
    color: #fff;
}

.split-search .categories-side{
    margin-top: 30px;
    border-top: 1px solid #e5e5e5;
    padding-top: 30px;
}

.split-search .categories-side .title{
    font-size: 19px;
    font-family: var(--bold);
    margin-bottom: 20px;
}

.split-search .categories-side a{
    display: block;
    margin-bottom: 10px;
}

.image-background img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.image-background .text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px;
    color: #fff;
    border-radius: 10px;
}

.image-background .text .date{
    font-size: 15px;
    color: #ddd;
}

.image-background .text .date svg{
    color: #ddd;
    font-size: 16px;
    position: relative;
    top: -2px;
    margin-right: 2px;
}

.image-background .text .title{
    font-size: 19px;
}

.article-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-between;
}

.article{
    width: 47%;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 50px;
    color: #222;
}

.article:hover{
    color: #000;
}

.article img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.article .present{
    padding: 20px 0;
}

.article .present .date{
    font-size: 15px;
    margin-top: 10px;
}

.article .present .date svg{
    font-size: 16px;
    position: relative;
    top: -2px;
    margin-right: 5px;
}