.houses-content{
  padding: 120px 10%;
}

.houses-content .unaivalable{
  min-height: 60vh;
  display: flex;
}

.houses-content .unaivalable .text-side{
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

.houses-content .unaivalable .text-side .title{
  font-size: 32px;
  margin-bottom: 30px;
}

.houses-content .unaivalable .text-side .link{
  margin-top: 20px;
}

.houses-content .unaivalable .text-side .link a{
  display: block;
  margin-bottom: 7px;
}

.house-header .house-path{
  color: #727272;
  margin-bottom: 10px;
}

.house-title{
  font-size: 28px;
  color: var(--black);
  margin-bottom: 15px;
}

.house-address{
  color: #727272;
  margin-bottom: 20px;
}

.house-sub-divisions{
  display: flex;
  justify-content: space-between;
}

.house-sub-divisions .sub-divisions-elements{
  display: flex;
  margin-bottom: 20px;
}

.event{
  margin-bottom: 15px;
}

.event .event-element{
  display: flex;
}

.event .event-element .icon{
  margin-left: 30px;
  height: 35px;
  line-height: 35px;
}

.event .event-element .icon span{
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #e5e5e5;
  margin-right: 10px;
  cursor: pointer;
}

.event .event-element .icon span svg{
  position: relative;
  top: 0.3px;
  font-size: 23px;
}

.event .event-element .icon.liked span{
  background: var(--blue);
}

.event .event-element .icon.liked span svg{
  color: #fff;
}

.house-sub-divisions .sub-division {
  margin-right: 30px;
  color: #727272;
  font-size: 14px;
}

.house-sub-divisions div svg{
  position: relative;
  top: -3px;
  margin-right: 5px;
}

.house-sub-divisions .house-price{
  text-align: right;
}

.house-sub-divisions .house-price .cost{
  font-size: 23px;
  font-family: var(--semiBold);
  color: var(--blue);
  text-transform: uppercase;
  margin-top: 30px;
}

.house-sub-divisions .house-price .frequency{
  font-size: 14px;
  color: #727272;
  text-transform: capitalize;
}

.house-galery{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.house-galery .plus{
  position: absolute;
  right: 10px;
  bottom: 10px;
  background: var(--orange);
  color: #fff;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-family: var(--light);
}

.house-galery .house-picture-big{
  width: 55%;
}

.house-galery .house-picture-big img{
  display: inline-block;
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
  background: #e5e5e5;
}

.diaporama{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
  background: #323232;
  height: 100vh;
  width: 100vw;
}

.diaporama.active{
  display: block;
}

.diaporama .timeline img{
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.house-pictures-list{
  width: 42%;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}

.house-pictures-list div{
  width: 100%;
  height: 210px;
}

.house-pictures-list img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  background: #e5e5e5;
}

.house-details{
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
}

.house-title-list{
  display: flex;
  margin-top: 50px;
}

.house-title-list div{
  margin-right: 30px;
  color: #525252;
  font-size: 20px;
  font-family: var(--bold);
}

.house-title-list div.selected{
  color: var(--blue);
}

.house-desc{
  margin-top: 20px;
  color: #525252;
  line-height: 26px;
}

.map-container{
  width: 100%;
  height: 500px;
  background: #e5e5e5;
  margin-top: 30px;
  border-radius: 10px;
  position: relative;
}

.map-container .approx{
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  background: #f5f5f5;
  padding: 2px 10px;
  z-index: 100;
  border-radius: 3px;
  font-size: 13px;
}

.map-container .pined,
.wide-map-container .pined{
  width: 20px;
  height: 20px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  position: absolute;
  display: block;
  border-radius: 50%;
  padding: 4px;
}

.map-container .pined span,
.wide-map-container .pined span{
  display: block;
  width: 12px;
  height: 12px;
  background: #000;
  border-radius: 50%;
}

.location-details{
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  color: #727272;
}

.location-details div{
  width: 22%;
  margin-right: 3%;
  margin-bottom: 15px;
}

.location-details div span{
  display: block;
  margin-top: 7px;
  font-family: var(--bold);
  color: var(--black);
  font-size: 17px;
}

.house-elements{
  margin-top: 30px;
  padding: 30px;
  background: #f5f5f5;
  border-radius: 10px;
}

.house-elements h3{
  font-size: 20px;
  color: var(--black);
  margin-bottom: 30px;
  font-weight: normal;
}

.location-details .l-details-equip{
  display: flex;
  padding: 5px 15px;
  border-radius: 30px;
}

.location-details .l-details-equip img{
  width: 20px;
  height: 20px;
  color: #727272;
  line-height: normal;
  text-align: center;
  margin-right: 5px;
  position: relative;
  top: -3px;
}

.location-details div.voisin{
  display: flex;
  margin-right: 30px;
}

.voisin svg{
  margin-right: 10px;
}

.voisin div{
  display: inline-block;
}

.voisinage{
  width: 100%;
  min-height: 250px;
  border: 1px solid #e5e5e5;
}

.voisinage .type{
  display: flex;
  height: 45px;
  border-bottom: 1px solid #e5e5e5;
}

.voisinage .type span{
  height: 45px;
  line-height: 40px;
  padding: 0 ;
  cursor: pointer;
  width: 25%;
  text-align: center;
}

.voisinage .type span svg{
  position: relative;
  top: -1px;
  margin-right: 5px;
  color: #777;
}

.voisinage .type span.selected{
  color: var(--blue);
  border-bottom: 4px solid var(--blue);
}

.voisinage .type span.selected svg{
  color: var(--blue);
}

.neighbord-list{
  padding: 10px 20px;
}

.neighbord-list .loader{
  display: block;
  width: 25px;
  margin: auto;
  margin-top: 10px;
}

.neighbord-list div{
  margin-top: 12px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.path{
  margin-bottom: 10px;
  color: #727272;
}

.path a{
  color: #727272;
  transition: 0.1s;
}

.path a:hover{
  color: #000;
}

.house-body{
  width: 65%;
}

.agent-contact{
  position: sticky;
  top: 120px;
  width: 30%;
  height: 680px;
  margin-top: 50px;
}

.agent-contact .agent-block{
  padding: 30px;
  border-radius: 10px;
  height: 310px;
  background: #f9fafc;
}

.agent-contact a.link,
.agent-contact button{
  display: block;
  width: 100%;
  height: 50px;
  background: var(--blue);
  line-height: 50px;
  color: #fff;
  border-radius: 7px;
  text-align: center;
  margin-top: 15px;
}

.agent-contact a.link.call{
  background: var(--orange);
}

.agent-contact .orange{
  background: var(--orange);
}

.error-report{
  margin-top: 30px;
  border-top: 1px solid #e5e5e5;
  padding-top: 20px;
}

.error-report a svg{
  font-size: 20px;
  color: royalblue;
  position: relative;
  top: -2px;
}

.agency-pointed{
  display: flex;
  margin-bottom: 10px;
}

.agency-pointed .avatar{
  display: block;
  width: 55px;
  height: 55px;
  font-size: 30px;
  border-radius: 30px;
  color: #fff;
  text-align: center;
  line-height: 55px;
  margin-right: 10px;
}

.agency-pointed img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.agency-pointed div span.name{
  color: var(--blue);
  font-family: var(--bold);
  margin-bottom: 1px;
  font-size: 19px;
}

.agency-pointed div span{
  display: block;
  color: #727272;
}

.share-input{
  margin-top: 30px;
  border-top: 1px solid #e5e5e5;
  padding-top: 30px;
  display: flex;
}

.share-side{
  margin-top: 30px;
}

.share-side img{
  margin-right: 20px;
  width: 50px;
}

.share-input input{
    width: 370px;
    height: 45px;
    border: 1px solid #e5e5e5;
    padding-left: 5px;
    color: #525252;
}

.share-input button{
  width: 100px;
  background: var(--blue);
  color: #fff;
}

.share-input button.copy{
  background: mediumseagreen;
}

.slide-show{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
  background: #323232;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.slide-show .close{
  position: absolute;
  top: 30px;
  right: 30px;
  color: #fff;
  font-size: 40px;
  cursor: pointer;
}

.sliders{
  display: flex;
  height: 60vh;
}

.sliders img{
  height: 60vh;
  width: 100%;
  object-fit: cover;
}

.similar-slide{
  position: relative;
  width: 100%;
  overflow-x: hidden;
  margin-top: 50px;
}

.similar-track{
  display: flex;
  width: auto;
  padding-bottom: 20px;
  transition: 0.3s;
}

.with-arrow{
  justify-content: space-between;
}

.with-arrow .arrow{
  cursor: pointer;
}

.with-arrow .arrow svg{
  margin-left: 20px;
}

.similar-element{
  display: flex;
  width: 100%;
  margin-right: 40px;
  border-radius: 5px;
  border: 1px solid #eee;
  position: relative;
  color: #323232;
  height: 172px;
  margin-bottom: 20px;
}

.similar-element:hover{
  color: #323232;
}

.similar-element .preview{
  width: 35%;
  height: 100%;
  object-fit: cover;
}

.similar-body{
  padding: 15px;
  width: 100%;
}

.similar-body .agency-logo {
  position: absolute;
  height: 40px;
  width: 40px;
  padding: 2px;
  background: #fff;
  border: 1px solid #f5f5f5;
  border-radius: 50%;
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);
  left: 7px;
  top: 10px;
}

.similar-body .agency-logo div{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  color: #fff;
  font-size: 25px;
  text-align: center;
  font-family: var(--semiBold);
}

.similar-body .agency-logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  background: #f5f5f5;
}

.similar-body .id{
  font-size: 14px;
}

.similar-body .title{
  font-size: 18px;
  color: #000;
  margin-bottom: 5px;
}

.similar-body .location{
  font-size: 14px;
}

.similar-body .location svg{
  font-size: 19px;
  position: relative;
  top: -1px;
}

.similar-footer{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.similar-footer .heart svg{
  cursor: pointer;
}

.similar-footer .heart.active svg{
  color: var(--blue);
}

.similar-sample{
  display: flex;
  margin-top: 5px;
}

.similar-amenities{
  margin-right: 40px;
}

.similar-amenities svg{
  color: #727272;
  font-size: 20px;
  position: relative;
  top: -2px;
}

.similar-type{
  position: absolute;
  top: 10px;
  right: 10px;
  background: var(--blue);
  color: #fff;
  padding: 3px 15px;
  border-radius: 3px;
}

.what3word{
  margin-bottom: 10px;
}

.what3word a{
  display: inline-block;
  background: #f5f5f5;
  height: 35px;
  padding: 0 10px 0 45px;
  position: relative;
  line-height: 35px;
  top: -10px;
  font-family: var(--bold);
}

.what3word img{
  width: 35px;
  position: absolute;
  left: 0;
}

/* responsive */
@media only screen and (max-width: 992px){
  .house-galery,  .house-details{
    flex-direction: column;
  }

  .similar-properties .splide__slide {
      width: 33.33% !important;
    }

  .house-galery .house-picture-big {
    width: 100%;
    margin-bottom: 20px;
  }

  .house-pictures-list{
    width: 100%;
  }

  .house-body {
    width: 100%;
  }

  .agent-contact {
    position: static;
    top: 0;
    width: 100%;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 860px){
  .houses-content{
    padding: 120px 25px;
  }
}

@media only screen and (max-width: 768px){
  .house-title {
    font-size: 25px;
  }

  .event {
    margin-bottom: 45px;
  }


  .house-galery .house-picture-big img {
    height: 350px;
  }

  .houses-content {
    padding: 120px 5%;
  }

  .similar-properties .splide__slide {
    width: 50% !important;
  }
}

@media only screen and (max-width: 576px){
  .house-sub-divisions {
    flex-direction: column;
  }

  .similar-element .preview{
    width: 100%;
    height: 170px;
    object-fit: cover;
  } 

  .similar-element{
    flex-wrap: wrap;
    /* flex-direction: column; */
    height: 380px;

    
  }

  .similar-body .location{
    display: none;
  }

  .event .event-element .icon {
    margin-left: 0px;
  }

  .event .event-element .icon:not(:last-child){
    margin-right: 20px;
  }

  .event {
    margin-bottom: 20px;
  }

  .house-sub-divisions .house-price .cost {
    margin-top: 10px;
  }

  .house-sub-divisions .house-price .cost ,
  .house-sub-divisions .house-price .frequency{
    text-align: left;
  }


  .event .what3word a{
    margin-bottom: 15px;
  }

  .event .what3word a{
    width: 100%;
    text-align: left;
  }

  .houses-content {
    padding: 120px 5%;
  }

  .house-title-list {
    margin-top: 30px;
  }

  .voisinage .type{
    width: 100%;
  }

  .neighbord-list {
    width: 100%;
  }

   span.svg_none{
    display: none!important;
  }

  .price {
    font-size: 16px;
  }

    /* .similar-element{
      margin-right: -15px;
    } */

}

@media only screen and (max-width: 425px){
  .house-galery .house-picture-big img {
    height: 200px;
  }

  .house-pictures-list div {
    width: 100%;
    height: 105px;
  }


  .location-details{
    flex-direction: column;
  }

  .location-details div {
    width: 100%;
  }

  .location-details div span {
    font-size: 15px;
  }

  .house-elements {
    padding: 18px;
  }


  .house-title {
    font-size: 20px;
  }


  .similar-body .title{
    font-size: 18px;
  }

}