.error-repport{
    margin-top: 80px;
}

.repport-title{
    height: 120px;
    line-height: 120px;
    background: #f5f5f5;
    padding: 0 10%;
    font-size: 40px;
}

.report-content{
    margin: 30px 10%;
    max-width: 1000px;
}

.report-content .tit{
    font-size: 19px;
    margin: 20px 0 10px;
}

.form-container{
    margin-top: 30px;
}

.form-container .field{
    display: flex;
    margin-top: 15px;
}

.form-container .field input{
    margin-right: 10px;
    padding: 0 5px;
}

.form-container .field label{
    margin-right: 20px;
}

.form-container .field textarea{
    height: 60px;
    width: 400px;
    border: 1px solid #c5c5c5;
    padding: 3px;
    border-radius: 3px;
}

.form-container .field textarea.wide{
    width: 500px;
    height: 120px;
}

.form-container .field input[type='text']{
    width: 300px;
    height: 35px;
    border: 1px solid #c5c5c5;
}

.report-content .btn{
    width: 200px;
    background: var(--blue);
    margin-top: 40px;
    color: #fff;
    height: 45px;
}

.report-content .btn img{
    width: 20px;
    position: relative;
    top: -2px;
    margin-right: 10px;
}

.report-content .message{
    margin: 15px 0;
}

.simple-small-tit{
    margin-top: 20px;
}

.property{
    padding: 20px;
    width: 100%;
    background: #f5f5f5;
    border-radius: 5px;
    display: flex;
    height: 140px;
}

.property img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.property div{
    margin-left: 20px;
}

.property span{
    font-size: 25px;
}

.success-process{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1);
    z-index: 9900;
    justify-content: center;
    align-items: center;
    display: none;
}

.success-process.display{
    display: flex;
}

.succes-process-content{
    width: 500px;
    height: auto;
    background: #fff;
    border-radius: 3px;
    padding: 30px;
    text-align: center;
}

.succes-process-content .icon{
    width: 100px;
    height: 100px;
    background: #f5f5f5;
    border-radius: 50%;
    margin: auto;
}

.succes-process-content .icon svg{
    font-size: 50px;
    color: mediumseagreen;
    margin-top: 25px;
}

.succes-process-content .tit{
    font-size: 25px;
    margin: 15px 0;
}

.succes-process-content .btn{
    background: var(--blue);
    margin-top: 20px;
    width: 150px;
    color: #fff;
}

.succes-process-content .btn img{
    width: 16px;
    margin-right: 5px;
    position: relative;
    top: -1px;
}