.faq{
    width: 100%;
    padding: 30px 0;
}

.faq_list{
    margin-bottom: 50px;
}

.faq_list-item{
    border-radius: 5px;
    margin-bottom: 8px;
    background-color: #F1F1F1;
    padding: 15px 10px;
}

.question-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.question-title span{
    font-size: 25px;
    font-weight: 400;
    color: var(--black);
    padding: 5px;
}

.question-title h3{
    color: var(--black);
    font-size: 17px;
    font-weight: 400;
    padding: 10px 5px;
    border-radius: 10px;
    cursor: pointer;
    font-family: var(--bold);
}

.answers{
    min-height: 20px;
    display: none;
    font-size: 17px;
    transition: height 0.3s;
}

.answers.show{
    min-height:100px;
    padding: 5px 5px;
    margin-bottom: 20px;
    display: block;
    transition: height 0.3s;
}


.messageBox{
    margin-top: 30px;
    background-color: #060808;
    color:#fff;
    padding: 50px 15px;
    
}

.question-form{
    width: 100%;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
}

.question-form input{
    width: 85%;
    font-size: 17px;
    border: none;
    padding-right: 15px; 
}

.question-form input:focus{
    outline: none;
}

.question-form button{
   background-color:var(--orange) ;
   color: #fff;
   padding: 10px 15px;
   border-radius: 7px;
}

.messageBox h3{
    font-size: 30px!important ;
    font-weight: 400;
    margin-bottom: 15px;
}

.messageBox p{
    font-size: 16px !important;
}



