.faq-content{
    max-width: 1000px;
    margin: auto;
    padding: 50px  15px 30px 15px;
}

.f_top{
    background-color: #f1f1f1;
    padding: 150px  0 30px 0;
}

.faqs-banner{
    margin-bottom: 100px;
}

.faqs-banner .f-title{
    text-align: center;
}

.faqs-banner .f-title .bold{
    font-size: 20px;
    font-family: var(--bold);
    margin-bottom: 20px;
}

.faqs-banner .f-title .biggest{
    font-size: 39px;
    margin-bottom: 20px;
}

.faqs-banner .f-title .simple{
    font-size: 17px;
}

.faqs .finder{
    position: relative;
    width: 350px;
    margin: 50px auto;
}

.faqs .finder input{
    width: 300px;
    height: 45px;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    padding: 0 10px;
}

.faqs .finder button{
    background: var(--blue);
    width: 50px;
    height: 45px;
    position: relative;
    top: -1px;
    border-radius: 0 3px 3px 0;
}

.faqs .finder button svg{
    color: #fff;
}

.help{
    padding: 30px 0;
    border-bottom: 2px solid #e5e5e5;
}

.help-listing{
    margin-bottom: 100px;
}

.help .top{
    display: flex;
    justify-content: space-between;
}

.help .top svg{
    cursor: pointer;
}

.help .desc{
    margin-top: 30px;
    display: none;
}

.help .top .title{
    font-family: var(--bold);
    font-size: 19px;
}

.help.extends .desc{
    display: block;
}

.faq-load{
    display: block;
    margin: auto;
}

.faq-categories{
    display: flex;
    width: 80%;
    justify-content: center;
    margin: 30px auto 0;
    flex-wrap: wrap;
}

.faq-categories .f-cat{
    margin: 20px 20px 0;
    padding: 0 20px;
    display: block;
    height: 40px;
    border: 2px solid #aaa;
    line-height: 36px;
    border-radius: 30px;
    cursor: pointer;
    color: #727272;
    transition: 0.3s;
}

.faq-categories .f-cat:hover,
.faq-categories .f-cat.active{
    color: #323232;
    border: 2px solid #323232;
}

@media only screen and (max-width: 1024px) {

    .faq-content {
        padding-left: 20px;
        padding-right: 20px;
    }

}


@media only screen and (max-width: 992px) {
    .faqs-banner .f-title .biggest {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .faqs-banner .f-title .bold{
        margin-bottom: 0px; 
    }

    .faqs-banner {
        margin-bottom: 30px;
    }
}


@media only screen and (max-width: 576px){
    .faq-categories .f-cat{
        margin: 20px 10px 0;
    }

    .faq-categories{
        width: 100%;
        padding: 0 15px;
    }
    
}

