
.keleton-ligneRow{
    display: flex;
    justify-content: space-between;
}



/* .propertyBox-6{
    flex:1;
} */

.proprety_items{
    margin-right: 15px;
}

.proprety_items{
    border:1px solid #bdc8e0;
    border-radius: 5px;
    padding: 10px;
    border-radius: 5px;
    min-height: 100px;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    cursor: pointer;
    
}

.proprety_items:hover .proprety_items_illustration img{
transform: scale(1.1);
}

.proprety_items_illustration{
    height: 250px;
    position: relative;
}

.agent-fav{
    position: absolute;
    width: 100%;
    padding: 30px 20px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1500;
    top:10px;
}

.feature-agent_avatar{
    width: 60px;
    height: 60px;
    background-color: #292929;
    border-radius: 50%;
    border:5px solid  #fff;
    overflow: hidden;
}

.feature-agent_avatar div{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--semiBold);
}

.feature_property-title{
    font-size: 20px;
    color: var(--blue);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}


.proprety_items_illustration img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s ease-in-out;
}

.proprety_items_illustration{
    position:relative;
    border-radius: 7px;
    margin-bottom: 20px;
    overflow: hidden;

}

.display-flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 0;

}

.description_btn button{
    padding: 5px 10px;
    font-size: 13px;
    font-weight: 400;
    text-transform: capitalize;
    background-color: transparent;
    border-radius:7px;

}

.btn_r{
    border:1px solid rgb(59, 165, 59);
    margin-left: 10px;
    color:rgb(59, 165, 59);
}

.btn_s{
    margin-left: 10px;
    border:1px solid rgb(218, 22, 22);
    color: rgb(218, 22, 22);
}

.btn_f{
    border:1px solid var(--blue);
    color:var(--blue);
}

.p_id{
   margin-bottom: 0;
   font-size: 13px;
   text-transform: capitalize;
   color:#727272;

}

.proprety_items_description h4{
    font-size: 18px;
    color:var(--black);
    text-transform: capitalize;
}

.price{
    font-size: 18px;
    font-weight: bold;
    color: var(--black);
}

.feature_property-adress{
    color: #727272;
    margin-bottom: 10px;
/*  */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fav{
    background-color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fav.mark{
    background: var(--blue);
}

.fav.mark svg{
    color: #fff;
}

/* responsive */

@media only screen and (max-width: 1300px) {
    .display-flex{
        flex-direction: column;
        align-items: start;
    }

    .d-flex {
        margin-top: 15px;
    }
}
@media only screen and (max-width: 992px) {
    .proprety_items .p_id{
        display:none;
    }

    .proprety_items_illustration{
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 576px) {
    .d-flex {
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .feature-agent_avatar{
        width: 50px;
        height: 50px;
    }

    .feature_property-adress{
        display: none;
    }

}