.footer{
    padding: 100px 10%;
    /* color:#343C6A; */
    /* background-color: #d5f6e263; */
    background-color: var(--grey);
}

.footer-container{

}

.footer ul li{
    margin-bottom: 2px;
    
}

.footer a{
    font-size: 16px;
    color:#000;

}

.logoStyle{
    font-size: 25px;
    font-weight: 500;
    font-family: var(--bold);
}

.footer ul li a{
    font-size: 16px;
    color:#000;

}
.footer h6{
    margin-bottom: 6px;
    text-transform: capitalize;
    font-size: 17px;
    font-family: var(--bold);
}

.media a{
    margin-right: 20px;
}

.media svg{
    font-size: 26px;
    color: var(--blue);
    cursor: pointer;
}

.media{
    margin-top: 20px;
}


@media only screen and (max-width: 992px){
    .footer h6{
        margin-top: 20px;
    }
}

@media only screen and (max-width: 768px){
    .footer {
        padding: 60px 5%;
    }

    .footer h6{
        margin-top: 20px;
        text-transform: capitalize;
        font-size: 17px;
        font-family: var(--bold);
    }
}

@media only screen and (max-width: 576px){
    .footer {
        padding: 51px 5%;
    }
}
