.form_banner{
    width: 94%;
}

.form{
    position: relative;
}

.form_banner .formFields{
    width: 100%;
    display: flex;
    background-color:#fff;
    box-shadow: 2px 8px 44px -6px rgba(0,0,0,0.1);
    padding: 15px 20px;
    border-top: 1px solid rgb(236, 234, 234);
}

.form_banner .formFields .form-group{
    display: flex;
    flex-direction: column;
    width: 25%;
    padding-right: 20px;
    margin-right: 50px !important;
    margin-bottom: 0 !important;
}

.form-group div{
    position: relative;
}

.form-group div svg{
    position: absolute;
    right: -22px;
    top: 3px;
    font-size: 20px;
    color: #929292;
}

.form_banner .formFields .form-group label{
    color: #525252;
}

.ckeck-box{
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 200px;
    cursor: pointer;
}

.check-box_item{
    width:100px ;
    padding: 5px 8px;
    font-size: 15px;
    font-weight: 500;
    color:#292929;
    text-align: center;
    cursor: pointer;
}

.check-box_item.active{
    background-color: var(--blue);
    color: #fff;
}

.form_banner .formFields .form-group input ,
.form_banner .formFields .form-group select{
    border:none!important;
    padding: 5px !important;
    background: transparent;
    height: 30px;
    margin: 0;
    border-radius: 0;
    max-width: 220px;
    background: #f5f5f5;
}

.form_banner .formFields .form-group select{
    -webkit-appearance: none;
}

.form_banner .formFields .form-group input::placeholder ,
.form_banner .formFields .form-group select.placeholder{
    font-size: 15px;
    color: #343c64;
   }

.form_banner .formFields .form-group input:focus , .form_banner .formFields .form-group select:focus{
    border-color: transparent !important;
    outline: 0;
    box-shadow: none !important;
    border:none!important;
}
  


.form_banner .formFields .form-group:not(:last-child){
    margin-right:20px ;
}

.form_banner .formFields .form-group.distant input{
    width: 100%;
}

.banner-formBtn{
    color:#fff;
    background-color: var(--orange);
    border-radius: 5px;
    width: 140px;
    height: 45px;
    margin-top: 10px;
    padding: 10px 20px;
    display: flex;
    /* justify-content: end; */
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.predit{
    position: absolute;
    top: 90%;
    height: 210px;
    left: 0;
    background: #fff;
    width: 420px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
    padding: 0 20px 20px;
    overflow: hidden;
}

.predit span{
    display: block;
    color: #727272;
    cursor: pointer;
    height: 35px;
    line-height: 25px;
}

/*  */

.formParts{
    width: 100%;
    min-height: 5px;
    background-color: #fff;
    display: flex;
}


.form_banner .form-group div{
    background-color: #f3f5f9!important;
}

.responsive-finder.active{
    display: block;
}

.responsive-finder{
    display: none;
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 2000;
    height: 100vh;
    width: 100vw;
    background: #fff;
    padding: 50px 5%;
    overflow: none;
}

.responsive-finder .s-separe{
    margin-top: 20px;
    font-size: 25px;
}

.responsive-finder .full-closer{
    position: absolute;
    top: 10px;
    right: 5%;
    font-size: 30px;
    font-weight: bold;
}

.responsive-finder .full-form input {
    width: 100%;
    height: 40px;
    border: 2px solid #aaa;
    padding: 0 10px;
}

.finded.adresses{
    margin-top: 20px;

}

.finded.adresses .fd-element{
    margin-bottom: 7px;
    cursor: pointer;
}

.finded.adresses .fd-element:hover{
    background: #f5f5f5;
}

.finded.adresses .fd-element strong{
    display: block;
    font-weight: normal;
    font-size: 15px;
}

.finded.adresses .fd-element span{
    display: block;
    color: #777;
    font-size: 14px;
    position: relative;
    top: -4px;
}

.nt-found{
    margin-top: 30px;
}

.predit{
    display: none;
}

@media screen and (max-width: 1366px) {
    .form-banner{
        width: 100% !important;
    }

    .banner .form-banner form{
        width: 100%;
    }
}


@media only screen and (max-width: 768px){
    .form_banner .formFields .form-group {
        display: flex;
        flex-direction: column;
        width: 25%;
        padding: 5px;
        margin-right: 00px !important;
        margin-bottom: 0px!important;
    }

    .form-group div svg {
        right: 2px;
        top: 3px;
    }

    .form_banner .form-group{
        width: 100%;
    }

    .text-intro{
        text-align: left;
    }

    .banner{
        height: 600px;
    }

    .responsive-finder{
        z-index: 5000;
        top: 0px;
    }
}

