.main-content{
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}

.title-gestion{
    font-size: 30px;
    /* color: #343C6A; */
    margin-bottom: 30px;
}

.section_under{
    font-family: var(--bold);
    font-size: 20px;
}
.link__btn{
    padding: 10px;
    background-color: var(--blue);
    color: #fff;
    border-radius: 5px;
}

.gestion-list li{
    list-style: circle;
    line-height: 30px;
}

.second-section{
    display: flex;
    margin-top: 30px;
}

.global-gestion-help{
    display: flex;
    align-items: center;
}

.gestion-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.picto-card{
    width: 50%;
    margin-right: 20px;
    min-height: 20px;
    padding: 15px;
    border-radius: 15px;
    text-align: justify;
}

.long-picto-card{
    background-color: #343C6A;
    height: 400px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.gestion-illustration-img{
    width: 50%;
}

.display-flex-1{
    width: 50%;
}

.ul-box{
    display: flex;
    justify-content: space-between;
    
}

.ul-box ul{
    width: 50%;
    padding-left: 10px;
}

.ul-box ul li{
    font-size: 15px;
    margin-bottom: 5px;
    position: relative;
    left: 10px;
    padding-left: 5px;

    color: #343C6A;
}


.ul-box ul li::before{
    content:"✓";
    left: 0px;
    height: 10px;
    width: 10px;
    color: #343C6A;
    border-radius: 50px;
    padding: 1px;
    font-size: 16px;
    font-weight: 700;

}


.main-content .active-link{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    border-radius: 3px;
}


.texte-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


@media only screen and (max-width: 992px){
    .second-section{
        flex-direction: column;
        
    }

    .display-flex-1{
        width: 100%;
        margin-bottom: 30px;
    }

    .main-content{
        width: 85%;
    }


}

@media only screen and (max-width: 768px){
    .global-gestion-help{
        flex-direction: column;
    }

    .picto-card{
        width: 100%;
        min-height: 200px;
    }

    .ul-box ul {
        width: 100%;
    }

    .title-gestion{
        font-size: 28px;
        /* color: #343C6A; */
        margin-bottom: 30px;
    }
    
}

@media only screen and (max-width: 768px){
    .title-gestion{
        font-size: 28px;
    }
    
}