.navigation{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    z-index: 3000;
    padding: 10px 5%;
    box-shadow: 0 0 5px rgba(150, 150, 150, 0.2);
    background: #fff;
}

.navigation .logo{
    position: relative;
    width: 50px;
    transform: scale(1.7);
}

.navigation nav{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.navigation .dFlex{
    display: flex;
}

.navigation .avatar{
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin: 15px 0 15px 15px;
    cursor: pointer;
}

.navigation .logoStyle{
    color: #000;
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-family: var(--semiBold);
}

.navigation ul,
.navigation .menuLogin{
    position: relative;
    display: flex;
    align-items: center;
}

.navigation ul{
    margin-left: 50px;
}


.navigation .menuLogin{
    margin-left: 50px;
}

.navigation ul li{
    margin-right: 40px;
}

.navigation ul li a{
    color: #525252;
    transition: 0.1s;
}

.navigation ul li a:hover{
    color: var(--orange);
}

.navigation .menuLogin .user_notif{
    margin-left: 40px;
}

.user_notif svg{
    height: 40px;
    width: 40px;
    background: #f5f5f5;
    padding: 7px;
    border-radius: 50%;
    color: #525252;
    cursor: pointer;
}

.saved{
    color: #323232;
    cursor: pointer;
}

.saved svg{
    font-size: 22px;
    margin-right: 7px;
    position: relative;
}

.h-btn{
    display: inline-block;
    height: 40px;
    background: #e5e5e5;
    line-height: 40px;
    margin-top: 15px;
    margin-left: 20px;
    width: 130px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
}

.h-btn.login{
    background: var(--orange);
    margin-top: 0!important;
}

.h-btn.register{
    background: var(--blue);
}

.h-btn:hover{
    color: #fff;
}

.user-options{
    display: none;
    position: absolute;
    top: 115%;
    background: #fff;
    width: 230px;
    height: auto;
    right: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    line-height: normal;
    border-radius: 10px;
    padding: 15px 0;
}

.user-options.show{
    display: block;
}

.user-options a,
.user-options span{
    display: block;
    /* height: 35px; */
    line-height: initial;
    padding: 0 25px;
    color: #323232;
    cursor: pointer;
    /* margin-bottom: 25px; */
}
 
.user-options.show a{
    margin-bottom: 15px;
}

.user-options a:hover,
.user-options span:hover{
    color: var(--blue);
}

.user-options a svg,
.user-options span svg{
    position: relative;
    margin-right: 5px;
    font-size: 18px;
    top: -2px;
}

/* Mobile menu */

.menu_bottom{
    width: 40px;
    height: 40px;
    background-color: #000;
    margin-left: 15px;
    border-radius: 5px;
    display: none;
    text-align: center;
    line-height: 40px;
}

.menu_bottom svg{
    fill:  #fff;
}

.mobileSidebar{
    position: fixed;
    padding: 20px 15px;
    width: 250px;
    height: 100%;
    top:80px;
    background-color:var(--black);
    left:-100%;
    transition: all .3s ease-in-out;
    color:#fff;
    transition: all .3s ease-in-out;
    opacity: 0;
}

.mobileSidebar.active{
    left:0;
    opacity: 1;
}

ul.mobile-menu{
    margin-top: 20px;
    display: block;
    color:#fff;
    margin-left: 0!important;
}

ul.mobile-menu li {
    margin-bottom: 20px;
    margin-right: 0!important;
}
ul.mobile-menu li a{
    color:#fff;
    padding: 10px;
}

@media only screen and (max-width: 1300px) {
    .navigation ul, .navigation .menuLogin {
        margin-left: 35px;
    }

    .navigation {
        padding: 5px 3%;
    }

    .navigation ul li {
        margin-right: 35px;
    }
}

@media only screen and (max-width: 1024px){
    .navigation ul.desktop{
        display: none!important;
    }

    .h-btn{
        margin-left: 0;
    }
    .saved {
        color: #323232;
        cursor: pointer;
        display:none;
    }

    .menu_bottom{
        display: block;
    }

    .saved.mobile-saved{
        display: block;
        color:var(--orange)!important;
        background-color:#fff ;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        border: 2px solid var(--orange);
    }

    .saved.mobile-saved:hover{
        color:#fff!important;
        background-color:var(--orange) ;
    }
}

@media only screen and (max-width: 1024px){
    .navigation .menuLogin {
        margin-left: 0;
    }
    .navigation .avatar {
        margin: 15px 0 15px 10px;
    }
}

@media only screen and (max-width:576px){
    .navigation {
        padding: 10px 3%;
    }

    .mobileSidebar {
        top: 75px;
    }
}

@media only screen and (max-width:320px){
    .menu_bottom{
        margin-left: 10px;
    }
}