.informations{
    margin-top: 30px;
}

.informations .box{
    margin-top: 20px;
    width: 100%;
}

.informations .box.flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

span.disable{
    cursor: pointer;
    text-decoration: underline;
}

span.red{
    color: red;
}

.profile-content .informations .box input,
.profile-content .informations .box select,
input.no-pad{
    padding: 0 10px;
    margin-bottom: 10px;
    background-color: #FFF;
}

.informations .dt-group{
    display: flex;
    justify-content: space-between;
}

.informations .dt-group select{
    width: 31%;
}

.informations .saveBtn{
    width: 200px;
    margin-top: 20px;
}

.social-line{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.social-line .status{
    position: relative;
    height: 30px;
    width: 60px;
    background: #e5e5e5;
    border-radius: 30px;
    padding: 3px;
    cursor: pointer;
    transition: 0.5s;
}

.social-line .status.active{
    background: var(--blue);
}

.social-line .status:before{
    content: ' ';
    position: absolute;
    left: 3px;
    display: block;
    height: 24px;
    width: 24px;
    border-radius: 30px;
    background: #fff;
    transition: 0.5s;
}

.social-line .status.active:before{
    left: unset;
    right: 3px;
}

.small.number .title{
    font-size: 16px;
    font-family: var(--semiBold);
    margin-bottom: 20px;
}

.pan-list{
    display: flex;
    margin-top: 50px;
    border-bottom: 1px solid #e5e5e5;
}

.pan-list .pan{
    margin-right: 30px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    padding-right: 5px;
}

.pan-list .pan.selected{
    border-bottom: 3px solid #343C6A;
}

.add-paiment-method{
    margin-top: 20px;
}

.saveBtn.tiny{
    width: 280px;
}

.active-link{
    margin-top: 40px;
    color: var(--orange);
    text-decoration: underline;
}

.contact-shower{
    margin-top: 15px;
    font-size: 18px;
    font-family: var(--bold);
    display: flex;
    flex-direction: row;
}

.contact-shower .pen{
    position: relative;
    top: 0;
    left: 0;
    margin-left: 20px;
    cursor: pointer;
}