.interest-page{
    margin-top: 120px;
    padding: 0 10%;
    display: flex;
    margin-bottom: 50px;
}

/* modifs style */

.new_form_styles{
    background-color: #F1F1F1F1;
    padding: 30px 45px;
}

.form_row{
    display: flex;
}

.form_row .box input[type="text"], 
.form_row .box input[type="email"], 
.form_row .box input[type="password"], 
.form_row .box input[type="number"], 
.form_row .box select,
.new_form_styles .box input,
.new_form_styles .box select{
    padding-left: 15px;
    background-color: #fff;
    border-radius: 5px;
}

.form_row .box textarea{
    width: 100%;
    height: 130px;
    resize: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.form_row .box.full{
    width: 98%;
}

.form_row .box{
    width: 48%;
}

.form_row .box:not(:last-child){
    margin-right: 20px;
}


/*  */
.interest-page .form{
    width: 100%;
}

.property-sub{
    width: 30%;
    margin-left: 50px;
    border: 1px solid #e5e5e5;
    height: 410px;
    position: relative;
    border-radius: 5px;
}

.property-sub img{
    width: 100%;
    object-fit: cover;
    height: 300px;
    border-radius: 5px 5px 0 0;
}

.property-sub .type{
    position: absolute;
    right: 10px;
    top: 10px;
    background: var(--blue);
    color: #fff;
    padding: 2px 10px;
    border-radius: 3px;
}

.property-sub .body{
    padding: 10px 20px;
}


.property-sub .body .title{
    font-size: 19px;
    max-height: 52px;
    overflow: hidden;
    margin-bottom: 5px;
}

.form .int-title{
    border-bottom: 1px dashed #c5c5c5;

}
.form .int-title h1{
    font-size: 35px;
    font-family: var(--bold);

}


.interest-page .property{
    width: 30%;
}

.form-content{
    margin-top: 30px;
}

/* .form-content .box,
.form-content .field{
    display: flex;
} */

.form-content .box.inline,
.form-content .field.inline{
    display: flex;
    flex-direction: column;
}

.form-content .field.inline div{
    margin-top: 10px;
}

/* .form-content .box label,
.form-content .field label{
    width: 30%;
} */

.form-content .box.inline label,
.form-content .field.inline label,
.form-content .box .stars{
    width: 100%;
}

.form-content .box .stars svg{
    font-size: 40px;
    cursor: pointer;
}

.form-content .box .stars svg.colored{
    color: gold;
}

.form-content .box textarea{
    width: 100%;
    height: 120px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    padding: 5px;
}

textarea:focus{
    outline: none;
}

.form-content .field{
    margin-bottom: 20px;
}

.form-content .field .inlined-field{
    width: 100%;
    display: flex;
}

.form-content .field .inlined-field .checkbox{
    margin-right: 20px;
}

.form-content .box input[type="text"],
.form-content .box input[type="number"]{
    padding: 0 5px;
}

.inlined-field button,
.mask-small-content button{
    display: inline-block;
    background: var(--blue);
    color: #fff;
    margin-top: 40px;
    height: 40px;
    padding: 0 20px;
}

.inlined-field button{
    margin-top: 0px;
}

.inlined-field button img{
    width: 17px;
    height: 17px;
    margin-right: 5px;
    position: relative;
    top: -1px;
}

.inlined-field button span{
    text-transform: capitalize;
}

.inlined-field button:hover{
    color: #fff;
}

.mask-small-content{
    width: 500px;
    height: 370px;
    background: #fff;
    padding: 40px;
    text-align: center;
}

.mask-small-content .icon{
    margin: auto;
    width: 100px;
    height: 100px;
    background-color: #3cb37226;
    border-radius: 50%;
    padding: 20px;
}

.mask-small-content img{
    width: 60px;
}

.mask-small-content .title{
    font-size: 25px;
    margin: 20px 0;
}

.mask-small-content button:hover{
    color: #fff;
}

.mask-small-content button{
    margin-top: 20px;
}

.evaluate-location-map{
    height: 300px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.form .form-content p{
    margin-bottom: 40px;
}

.interest-page .servey{
    margin-top: 30px;
}

.interest-page .servey label{
    font-family: var(--bold);
    font-size: 17px;
}

.interest-page .servey div{
    margin-top: 10px;
}

.pub-side-long{
    display: block;
    background: #e5e5e5;
    height: 300px;
    margin: 30px 10% 50px;
}

.b-radios{
    display: flex;
}
.radios-container{
    margin-left: 20px;
}
/* 
.form-intro{
    width: 23%;
} */

.interest-page .contact-shower{
    width: 100%;
}



@media only screen and (max-width:992px){
    .interest-page .form {
        width: 100%;
    }

    
    .form-content .field .inlined-field {
        width: inherit;
        display: inherit;
    }

    .property-sub{
        display:none
    }
}


@media only screen and (max-width:768px){
    .form-content .box{
        flex-direction: column;
       
    }

    .interest-page{
        padding: 0 5%;
    }

    
}

@media only screen and (max-width:576px){

    .form-content .box label{
        width: 100%;
    }

    .form .int-title h1 {
        font-size: 24px;
        font-family: var(--bold);
    }

    .form-content .field label{
        display: none;
    }

    .b-radios{
        flex-direction: column;
        margin-bottom: 10px;
        
    }

    .radio__box{
        font-size: 13px;
    }



    .form_row{
        flex-direction: column;
    }
    .form_row .box{
        width: 100%;
    }
    .form_row .box:not(:last-child){
        margin-right: 0px;
    }

    .new_form_styles{
        background-color: #F1F1F1F1;
        padding: 20px 15px;
    }

    .succes-process-content{
        width: 80%!important;
    }

    .radio__box input{
        margin-right: 5px!important;
    }
}


