.investor-side{
    padding: 50px 10%;
}

.investor-side .report-content{
    margin: 0;
    max-width: 1000px;
}

.investor-side .interest-page {
    flex-direction: column;
    margin-top: 0;
    padding: 0;
}

