.sectionTitle.meduim{
    font-size: 30px;
    margin-bottom: 12px;
}

.inves-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.bold__text{
    font-weight: 600;
    color:var(--blue);
    font-size: 16px;
}

.image-box{
    width: 100%;
    height: 500px;
    padding: 5px;
    background-color: #dde2ff85;
}

.bg-color{
    background-color: #f1f1f1;
}

/* about contact */

.contact-linkbox{
    /* background-color: var(--grey); */
    color:var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 15px;
}

.contact-linkbox p{
    font-size: 25px;
    text-align: center;
}

.contact-linkbox a button.link_text{
    text-decoration: none;

}

/* .contact-linkbox  button.link_text{
    background-color: var(--orange);
    color: #fff;
    padding: 10px;
    border-radius: 10px;

} */

.club-list li{
    list-style: none;
    position: relative;
    font-weight: var(--bold);
    margin-bottom: 5px;
    padding-left: 20px;
}

.club-list li::before{
    position: absolute;
    content: "✓ ";
    color: var(--blue);
    left: 0;
    font-weight: 600;
}

.link_text{
    color: var(--orange);
    font-weight: var(--bold);
    text-decoration: underline;
}

.link_text button{
    background-color: var(--blue);
    color: #fff;
    border-radius: 5px;
    padding: 10px;
}


.italic_text{
    font-style: italic;
    color: var(--orange);
}

.container-fluid.padding{
    padding: 0!important;
}

.m-container.relativeBox{
    width: 100%;
    
    min-height: 700px;
    padding: 15px;
    position: relative;
    background-color: var(--blue);
    background: linear-gradient(#343c6ac9, #343c6a),url(../assets/contact-valeurs.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.contact_form{
    position: absolute;
    min-height: 200px;
    padding: 15px;
    background-color: #fff;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.contact_form .split .fields {
    width: 475px;
}

.radio__box input{
  margin-right: 10px;
}

.radio__box label ,.contact_form p{
    color:var(--black);
}


.sectionTitle.meduim.margin-bottom{
    margin-bottom: 20px;
}

.values_card{
    display: flex;
    border: 1px solid #060918;
    background: #edf0ff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.pictos_desc{
    text-align: center;
}

.values_card img{
    width:60px ;
    height: 60px;
    object-fit: cover;
    margin-right: 3px;
}

.values_card_title{
    color: var(--black);
    font-size: 20px;
    font-family: var(--bold);
}

.contact_form h2{
    margin-bottom: 20px;
}


.textarea-message{
    width: 100%;
    height: 80px;
    resize: none;
    border: 1px solid #e5e5e5;
}

.box.b-radios input[type=radio]{
    height: 15px;
}

.img-left{
    height:600px;
    border-radius: 10px;
}

.img-rigth{
    height:500px;
    border-radius: 10px;
}

.office-image img{
    width: 100%;
    object-fit: cover;
}

.mobile-smallTitle{
    display: none;
}

.link_text{
    display: inline-block;
    color: #fff;
    background-color: var(--blue);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 3px;
}

/* represtation saller style */


.element-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ele-card{
    width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-right: 20px;
    /* background-color: #f1f3fd; */
    min-height: 300px;
    border-left: 2px solid var(--orange);
    box-shadow: 3px 1px 5px 1px rgba(0,0,0,0.29);
    -webkit-box-shadow: 3px 1px 5px 1px rgba(0,0,0,0.29);
    -moz-box-shadow: 3px 1px 5px 1px rgba(0,0,0,0.29);
}

.ele-card h4{
    font-size: 20px;
    font-weight: var(--bold);
    color: var(--black);
    text-align: center;
}

.ele-card p{
    font-size: 14px;
    font-weight: var(--bold);
    color: var(--black);
    text-align: justify;
}

.center-btn{
    display: flex;
    justify-content: center;
    align-items: center!important;
    margin-top: 30px;
    text-transform: uppercase;
}

.img-heigth{
    height: 350px;
}

/* responsive */
@media only screen and (max-width: 992px){

    .element-container{
        flex-wrap: wrap !important;
    }

    .ele-card{
        width: 45%;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 10px;
        margin-right: 20px;
        background-color: #f1f3fd;
        min-height: 300px;
        border-left: 2px solid var(--orange);
    }

    .m-container{
        width: 90%;
        padding: 50px 9px;
    }

    .img-rigth{
        display:none;
    }

    /* .sectionTitle.meduim{
        flex-direction: row;
        font-size: 20px;
        display: block;
    } */

    .inves-img.none{
        display: none;
    }

    .sectionTitle.meduim{
        font-size: 25px;
        margin-bottom: 12px;
    }

    .smallTitle{
        font-size: 15px;
        font-weight: var(--bold);
        /* font-size: inherit; */
        margin-right: 10px;
    }

    .mb-5.mobil-bottom{
        margin-bottom:10px!important;
    }

    .row.reverse-mobile{
        flex-direction: column-reverse;
    }
    

}

@media only screen and (max-width: 768px){
    .m-container{
        width: 95%;
    }

    .img-left {
        height: 400px;
    }

    .contact_form .split .fields {
        width: 400px;
    }
    .contact-linkbox p {
        font-size: 20px;
    }
    
}

@media only screen and (max-width: 576px){

    .ele-card{
        min-height: 200px;
        overflow-y: scroll;
    }
    
    .ele-card{
        width: 100%;
        padding: 10px;
    }

    .sectionTitle.meduim{
        font-size: 20px;
        margin-bottom: 12px;
    }


    .values_card_title{
        font-size: 18px;
    }

    .contact_form .split .fields {
        width: 380px;
    }

    .m-container{
        padding: 25px 0;
    }

    .img-left {
        height: 250px;
    }   
}

@media only screen and (max-width: 450px){

    .contact_form .split .fields {
        width: 320px;
    }

    
}

@media only screen and (max-width: 320px){

    .contact_form .split .fields {
        width: 270px;
    }

    
}