.sticky-top{
    position: sticky;
    top: 80px;
    z-index: 2000;
}

.listingForm{
    background: var(--blue);
    padding: 5px 5%;
}

.formBox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listing-side-input{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.listing-side-elements{
    display: flex;
}

.advanced{
    width: 200px;
    text-align: right;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    color: #fff;
}

.advanced svg{
    margin-right: 5px;
    color: #fff;
}

.formBox .fieldBorder{
    position: relative;
    width: 30%;
    z-index: 100;
    margin-right: 50px;
}

.formBox .fieldBorder.medium{
    width: 25%;
}

.formBox .fieldBorder.wide{
    width: 40%;
}

.formBox .fieldBorder .location-result{
    position: absolute;
    top: 100%;
    background: #fff;
    width: 100%;
    height: 0;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.formBox .fieldBorder .location-result.long{
    height: 250px;
    padding: 10px;
}

.formBox .fieldBorder .location-result span{
    display: block;
    height: 30px;
    line-height: 30px;
    color: #727272;
    cursor: pointer;
    transition: 0.1s;
    overflow: hidden;
}

.formBox .fieldBorder .location-result span:hover{
    color: #000;
}

.formBox .fieldBorder.price-field{
    margin-right: 0;
    position: relative;
    left: 2px;
    z-index: 1000;
}

.fieldBorder svg,
.fieldBorder strong{
    position: absolute;
    left: 6px;
    font-size: 20px;
    color: #f5f5f5;
    top: 8px;
    font-style: normal;
}

.fieldBorder strong{
    font-size: 11px;
    top: 12px;
    font-family: var(--regular);
}

.formBox input,
.formBox select{
    -webkit-appearance: none;
    height: 40px;
    border-radius: 3px;
    width: 100%;
    border: none;
    color: #fff;
    background: transparent;
    padding: 0 10px 0 30px;
}

.formBox input::placeholder,
.formBox select::placeholder {
    color: #fff;
    opacity: 1;
}

.formBox select > option{
    color: #000;
    padding: 0 5px;
}

.formBox .fieldBorder.price input{
    border-right: none;
}

.formBox button{
    height: 40px;
    padding: 0 25px;
    background: var(--orange);
    color: #fff;
    border-radius: 7px;
}

.collapse-order{
    display: flex;
    height: 0;
    line-height: 50px;
    border-bottom: 1px solid #e5e5e5;
    padding: 0 10%;
    transition: 0.3s;
    overflow: hidden;
    background: #fff;
    overflow: scroll;
}

.collapse-order button{
    background: var(--blue);
    color: #fff;
}

.collapse-order.show{
    height: 50px;
}

.other-filter{
    margin-right: 40px;
}

.other-filter label{
    margin-right: 10px;
}

.other-filter select{
    width: 75px;
    background: transparent;
    border: none;
}

/* mobile */

@media only screen and (max-width: 992px) {
    .listingForm {
        padding: 4px 5%;
    }


    .other-filter label{
        margin-right: 0;
        margin-bottom: -24px;
    }

    .collapse-order.show{
        height: auto;
        flex-direction: column;
        padding-top: 20px;
    }


    .other-filter {
        margin-right: 0;
    }

    .other-filter select{
        width: 100%;
        background: transparent;
        border: 1px solid #E5E5E5;
        margin-bottom: 20px;
        padding: 15px;
        border-radius: 5px;
        
    }

    .collapse-order {
        padding: 0 5%;
    }
}

@media only screen and (max-width: 768px) {

    .other-bar .cote .sort.choose {
        background: #e5e5e5;
        display: none;
    }
}


@media only screen and (max-width: 768px) {
    .mobile_displayNone{
        display: none;
    }
}

@media only screen and (max-width: 578px) {

    .second-bar .first{
        line-height: inherit;
        align-items: center;
    }

    .second-bar .first .path {
        margin-bottom: 0;
    }
    
    
}


@media only screen and (max-width: 416px) {
    .second-bar .first{
        flex-direction: column;
        min-height: 50px!important;
        line-height: 20px;
        align-items: flex-start;
    }

    .hidden_on_mobile{
        display: none;
    }
}



