.propertyList{
    margin-top: 80px;
}

.secondaryTitle{
    font-size: 18px;
    color: var(--blue);
    text-transform: capitalize;
    margin-bottom: 0;
    font-family: var(--bold);
}

.titleBox{
    display: flex;
    justify-content: space-between;
    color: #262626;
    margin-bottom: 45px;
}

.titleBox span{
    font-size: 15px;
    color: #727272;
}

.result{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.result span{
    padding-right: 5px;
}

.result_span{
    font-size: 15px;
}

.titleBox .bloc{
    height: 40px;
    border: 1px solid #e5e5e5;
    line-height: 40px;
    padding: 0 10px;
}

.titleBox .bloc span{
    margin-right: 5px;
}

/* map */

.showMap{
    width: 100%;
    height: 100%;
}

.mapToggle{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 30px;
    padding-left: 15px;
}

.toggleBtn{
    width: 50px;
    height: 20px;
    background: #d6d5d5;
    border-radius: 50px;
    position: relative;
    padding: 0 1px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    margin-left:10px;
}

.toggleMapText{
    font-size:15px ;
    font-weight: 400;
}

.toogle-inner{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    background-color: #837e7e;
    transition: all .3s ease-in-out;
}

.toggleBtn.active{
    background-color: var(--blue);
}

.toggleBtn.active .toogle-inner{
    background-color: #fff;
    transform: translateX(30px);
}

.mapView{
    background-color: #666;
    width: 95%;
    margin-left: auto;
    height: 1000px;
    border-radius: 10px;
}

/* main-containt */

.mainContent{
    display: flex;
}

.PropertiesListe{
    width: 80%;
}

.extra-side{
    width: 30%;
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 5%;
}

.extra-meta-link{
    position: sticky;
    top: 140px;
}

.map-visual{
    width: 100%;
}

.map-block{
    width: 100%;
    height: 350px;
    background: #e5e5e5;
}

.map-visual .map-bottom{
    border: 2px solid var(--blue);
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: var(--blue);
    color: #fff;
    cursor: pointer;
}

.ads{
    margin-top: 30px;
    width: 100%;
    height: 250px;
    background: #e5e5e5;
}

.other-search{
    margin-top: 15px;
}

.other-search .title{
    margin-bottom: 10px;
}

.other-search a{
    display: block;
    height: 25px;
    color: #626262;
    line-height: 25px;
}

.listing-item-side{
    padding-left: 8%;
    border-right: 1px solid #e5e5e5;
    padding-right: 50px;
}

.listing-item-side .property-inside{
    margin-top: 0 !important;
    padding-top: 50px;
}

.property-inside .tagged-location{
    text-align: center;
    font-size: 20px;
    width: 60%;
    margin: 0 auto 30px;
}

.second-bar{
    display: block;
    background: #fff;
    padding-left: 8%;
    border-bottom: 1px solid #e5e5e5;
}

.second-bar .first,
.second-bar .other-bar{
    display: flex;
    border-bottom: 1px solid #e5e5e5;
    
    /* height: 50px;
    line-height: 50px; */
}

.second-bar .other-bar{
text-align: center;
min-height: 50px;
}

.second-bar .other-bar .sort{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.second-bar .first{
    padding: 20px 0;
    align-items: center;
    align-items: center;
}

.second-bar .first .path{
    margin-right: 40px;
    margin-bottom: 0;
}

.first .alerte{
    cursor: pointer;
}

.first .alerte svg{
    font-size: 18px;
    margin-right: 3px;
    position: relative;
    top: -1px;
}

.second-bar .other-bar{
    justify-content: space-between;
    border-bottom: none;
}

.second-bar .result span{
    font-size: 20px;
}

.other-bar .cote{
    display: flex;
}


.other-bar .cote .sort{
    padding: 0 20px;
    border-right: 1px solid #e5e5e5;
    cursor: pointer;
}

.other-bar .cote .sort.choose{
    background: #e5e5e5;
}

.other-bar .cote .sort select{
    background: transparent;
    border: none;
    margin-left: 20px;
}

.other-bar .cote .sort svg{
    font-size: 19px;
    position: relative;
    top: -2px;
}

.other-filter.mobile{
    display: none;
}



@media only screen and (max-width: 1024px) {
    .second-bar .other-bar{
        border-left: 1px solid #e5e5e5;
        padding-left: 10px;
    }
}


@media only screen and (max-width: 992px){
    .fieldBorder.medium.price-field ,.fieldBorder.type-desktop{
        display: none;
    }

    .fieldBorder.medium{
        display: none;
    }

    .formBox .fieldBorder.wide {
        width: 100%;
    }



    .other-filter.mobile{
        display: flex;
        flex-direction: column;
    }
    
}



@media only screen and (max-width: 576px) {
    .other-bar{
        flex-direction: column;
    }

    .result {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }


    .other-bar .cote .sort select {
        background: transparent;
        border: none;
        margin-left: 0px;
    }

    .other-bar .cote .sort {
        padding-left: 0;
        width: 50%;
    }

    .sort.carte{
        justify-content: flex-end!important;
    }

    .other-bar .cote {
        justify-content: space-between;
    }


    .other-bar .cote .sort select {
        width: 100%;
    }

    .result{
        margin-bottom: 10px;
    }

    .second-bar .other-bar {
        border-right: 1px solid #e5e5e5;
    }

    .first .alerte {
        margin-top: 14px;
    }

    .filter-advanced{
        display: none;
    }

    .formBox .fieldBorder.wide{
        margin-right: 10px;
    }

    

}

@media only screen and (max-width: 416px) {
    .second-bar .first{
        align-items: flex-start;
    }

    .hidden_on_mobile{
        display: none;
    }
}