.login-container{
    display: flex;
    min-height: 100vh;
}

.login-container .split{
    width: 50%;
    min-height: 100vh;
}

.login-container .split.image{
    background-image:linear-gradient(#05050599, #05050599), url("../assets/login-image.jpg");
    background-size: cover;
    background-position: right;
    padding-top: 20px;
}

/* .login-container .split.image .logo{
    font-size: 20px;
    font-family: var(--semiBold);
    color: #fff;
    margin-top: 0px;
    margin-left: 20px;
} */

.split.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.split .fields{
    width: 400px;
}

.split.form .title{
    display: block;
    font-size: 25px;
    margin-bottom: 30px;
    color: var(--orange);
    font-family: var(--semiBold);
}

.split.form .title span{
    display: block;
    margin-top: 15px;
    height: 3px;
    background: var(--orange);
    width: 30px;
}

.box{
    margin-bottom: 15px;
    position: relative;
}

.box svg{
    position: absolute;
    left: 10px;
    top: 10px;
    color: #828282;
}

.box svg.simple{
    position: relative;
    left: 0;
    top: 0;
    color: #828282;
}

.box svg.eye{
    left: unset;
    right: 7px;
    top: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.box svg.eye:hover{
    color: #323232;
}

.box input[type="text"],
.box input[type="email"],
.box input[type="password"],
.box input[type="number"],
.box select{
    height: 45px;
    border: 1px solid #e5e5e5;
    background: transparent;
    padding: 0 10px 0 45px;
    width: 100%;
    border-radius: 5px;
}

.box select{
    padding: 0 10px 0 2px;
}

.box input::placeholder{
    color: #525252;
    opacity: 1;
    font-size: 14px;
}

.fields .forgot{
    display: block;
    margin: 25px 0;
    text-align: right;
    color: var(--orange);
    text-decoration: underline;
}

.fields .submit,
.saveBtn{
    height: 45px;
    width: 100%;
    background: var(--blue);
    color: #fff;
    border-radius: 5px;
}

.fields .submit img,
.saveBtn img{
    width: 18px;
    height: 18px;
    position: relative;
    top: -1px;
    margin-right: 5px;
}

.fields .or{
    margin: 20px 0;
    text-align: center;
    color: #727272;
}

.fields .social{
    display: flex;
    justify-content: space-between;
}

.fields .social div{
    width: 13%;
    border: 1px solid #e5e5e5;
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: #525252;
    cursor: pointer;
    border-radius: 5px;
}

.fields .social div.kep-login-facebook{
    width: 100%;
    color: #4867aa;
    line-height: normal;
    font-size: 20px;
    padding-top: 15px;
    padding-left: 20px;
    background: #fff;
}

.fields .social div img{
    width: 20px;
    height: 20px;
}

.fields .social .wide{
    width: 84%;
}

.fields .social .wide img{
    margin-right: 10px;
}

.fields .register{
    margin-top: 50px;
    text-align: center;
}

.fields .register a{
    margin-left: 5px;
    text-decoration: underline;
}

.message{
    color: red;
    margin: 20px 0;
}

.message.success{
    color: mediumseagreen;
}

.sent{
    text-align: center;
}

.thumb{
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 20px;
    background: rgba(3, 1, 93, 0.08);
    border-radius: 50%;
    padding: 25px;
}

.sent img{
    width: 50px;
}

span.click{
    text-decoration: underline;
    color: #03015d;
    cursor: pointer;
}

.load-centered{
    display: block;
    margin: auto;
    width: 60px;
}


.logo.mobile{
    display: none;
}

p.form-intro{
    margin-bottom: 0!important;
}

@media only screen and (max-width: 992px){
    .logo.mobile {
        display: block;
        position: absolute;
        z-index: 1000;
        top: -10px;
        left: -10px;
    }

    .logo.mobile img{
        width: 80px;
        height: 40px;
    }
    
    .login-container{
        padding: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .login-container .split {
        width: 100%;
        min-height: 100vh;
    }

    .split.form .title {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        margin-bottom: 20px;
        margin-top: 100px;
    }

    .split.form .title span {
        display: block;
        margin-top: 3px;
        height: 3px;
    }

    .login-container .split.image{
        display: none;
    }

    .split .fields{
        padding: 20px;
        border-radius: 30px;
    }
}

@media only screen and (max-width: 400px){
    .split .fields {
        width: 96%;
    }
}
