.wide-map-container{
    height: 800px;
    width: 100%;
    position: relative;
}

.wide-map-container .load-more{
    position: absolute;
    bottom: 20px;
    left: 46%;
    background: #fff;
    z-index: 100;
    height: 40px;
    width: 170px;
    line-height: 40px;
    font-family: var(--bold);
    cursor: pointer;
    text-align: center;
}

.wide-map-container .exit-map{
    position: absolute;
    top: 20px;
    left: 20px;
    background: #fff;
    z-index: 100;
    height: 40px;
    width: 170px;
    line-height: 40px;
    font-family: var(--bold);
    padding-left: 15px;
    cursor: pointer;
}

.wide-map-container .exit-map svg,
.wide-map-container .load-more svg{
    position: relative;
    font-size: 22px;
    top: -2px;
    margin-right: 2px;
}

.on-map.selected{
    position: relative;
    z-index: 100;
}

.on-map .property-thumbnail{
    position: absolute;
    bottom: 130%;
    height: 100px;
    background: #fff;
    width: 350px;
    left: -96px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    font-family: var(--regular);
}

.on-map .property-thumbnail .close{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
}

.property-thumbnail .title{
    font-size: 16px;
    color: #000;
    font-family: var(--bold);
}

.on-map .property-thumbnail img{
    width: 80px;
    height: 100%;
    border-radius: 7px;
    object-fit: cover;
    margin-right: 10px;
}

.property-thumbnail .location svg{
    font-size: 17px;
}

.property-thumbnail .price{
    font-size: 16px;
    margin-top: 3px;
    color: var(--blue);
    font-family: var(--bold);
}

.property-thumbnail .sub-element{
    display: flex;
    margin-top: 10px;
}

.property-thumbnail .sub-element div{
    margin-right: 5px;
    color: #000;
}

.property-thumbnail .sub-element svg{
    font-size: 19px;
    position: relative;
    top: -3px;
    color: #727272;
}