.not-found{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.not-found img{
    width: 450px;
    display: block;
}

.not-found p{
    margin: 30px 0;
    font-size: 25px;
}

.not-found button{
    height: 45px;
    padding: 0 40px;
    background: var(--blue);
    color: #fff;
    border-radius: 5px;
}