.profile-content{
    max-width: 60vw;
    margin: 130px auto 130px;
}

.simple-tit {
    padding-bottom: 20px;
}

.simple-tit span{
    display: block;
    font-family: var(--regular);
    font-size: 16px;
    margin-top: 5px;
}

.simple-tit span.path{
    font-size: 15px;
    color: #727272;
    margin-bottom: 10px;
}

.simple-tit span strong{
    text-transform: capitalize;
}

.simple-tit span a{
    color: #727272;
    text-decoration: underline;
}

.account-box{
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.uno-box{
    border: 1px solid #e5e5e5;
    width: 32%;
    margin-top: 3%;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    color: #828282;
}

.uno-box.sample{
    border: none;
    cursor: auto;
}

.uno-box:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #727272;
}

.uno-box.sample:hover{
    box-shadow: none;
}

.uno-box .label{
    font-size: 17px;
    color: #000;
    margin: 10px 0;
}

.uno-box svg{
    font-size: 40px;
    margin-bottom: 10px;
    color: #525252;
}

.splited-content{
    display: flex;
    justify-content: space-between;
    background-color: #F1F1F1;
    padding: 20px 30px;
}

.splited-content .wide{
    width: 100%;
}

.splited-content .small{
    width: 30%;
    height: 400px;
    margin-top: 50px;
    border: 1px solid #e5e5e5;
    padding: 30px;
}

.splited-content .small.presentation{
    position: relative;
    background-image: url("../assets/information.jpg");
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

.inner-mask{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    left: 0;
    top: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    color: #eee;
}

.inner-mask a{
    color: #fff;
    margin-top: 20px;
    text-decoration: underline;
}

.no-split{
    width: 600px;
}

.other-title{
    font-size: 20px;
    margin-top: 40px;
    font-family: var(--semiBold);
}

.account-mask{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.account-mask.show{
    display: flex;
}

.diserve-content .icon{
    width: 80px;
    height: 80px;
    background: #e5e5e5;
    border-radius: 50%;
    position: relative;
    padding: 20px;
    margin: 0 auto 40px;
}

.diserve-content .icon svg{
    font-size: 40px;
    color: var(--orange);
}

.account-mask-content{
    background: #fff;
    width: 550px;
    height: auto;
    padding: 50px;
    position: relative;
}

.account-mask-content .diserve-content{
    margin: auto;
    width: 70%;
    text-align: center;
}

.account-mask-content .sign-side{

}

.account-mask-content .sign-side a{
    display: block;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
    width: 100%;
    color: #fff;
    background: var(--blue);
}

.account-mask-content .sign-side a.orange{
    background-color: var(--orange);
}

.account-mask-content.small{
    width: 350px;
    padding: 30px;
    text-align: center;
    font-size: 15px;
}

.account-mask-content .box{

}
.box p{
    padding: 9px;
    background-color: #fff;
    border-radius: 10px;
}

.simple-tit h1{
    font-size: 35px;
    font-family: var(--bold);
}

.account-mask-content .box .dt-group{
    display: flex;
    justify-content: space-between;
}

.account-mask-content .box .dt-group select{
    width: 31%;
}

.account-mask-content .box select,
.account-mask-content .box input{
    padding-left: 5px;
    background-color: #F1F1F1;
    
}

.account-mask-content.widest{
    width: 50vw;
}

.account-mask-content .btn.blue{
    width: 150px;
    background: var(--blue);
    color: #fff;
    height: 45px;
    margin-top: 5px;
}

.account-mask-content .btn.blue img{
    width: 18px;
    margin-right: 5px;
    position: relative;
    top: -2px;
}

.simple-flex{
    display: flex;
}

.account-mask-content .desc{
    margin: 40px 0;
}

.account-mask-content h3{
    font-size: 22px;
    font-family: var(--semiBold);
    margin-bottom: 30px;
}

.m-close{
    display: block;
    font-size: 50px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.box.area{
    display: flex;
    justify-content: space-between;
}

.box.area input{
    width: 48%;
}

.box.none{
    margin-top: 0 !important;
}

.acepted-cards{

}

.acepted-cards img{
    display: inline-block;
    width: 45px;
    border: 1px solid #e5e5e5;
    margin-right: 10px;
    padding-left: 7px;
    padding-right: 7px;
}

.spinner{
    width: 40px;
}

.card-display{
    display: flex;
    position: relative;
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card-display img{
    width: 50px;
    margin-right: 20px;
}

.card-display span{
    display: block;
}

.card-display span.expiry{
    position: absolute;
    right: 10px;
    top: 10px;
}

.note-list{
    margin-top: 30px;
}

.uno-note{
    padding: 10px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 15px;
    background: #f9f9f9;
    border-radius: 3px;
    border-left: 5px solid indigo;
    position: relative;
}

.uno-note .title{
    font-family: var(--semiBold);
    font-size: 16px;
    margin-bottom: 5px;
}

.uno-note .description{
    font-size: 14px;
    margin-bottom: 5px;
}

.uno-note .date{
    position: absolute;
    right: 10px;
    top: 10px;
}

.uno-note .date svg{
    font-size: 16px;
    position: relative;
    top: -2px;
    margin-right: 3px;
}

.paiement-history p{
    margin-top: 30px;
}

.paiement-history table{
    width: 100%;
    margin-top: 30px;
}

.paiement-history table thead tr{
    border-bottom: 1px solid #e5e5e5;
}

.paiement-history table thead tr td{
    height: 50px;
    line-height: 50px;
    color: #000;
}

.paiement-history table tbody tr td{
    height: 50px;
    line-height: 50px;
    color: #727272;
}

.paiement-history table tbody tr td.dark{
    color: #000;
}

.method-block{
    width: 70%;
}

.alert-success-message{
    position: fixed;
    top: 120px;
    right: 5%;
    width: 300px;
    display: none;
    background: mediumseagreen;
    color: #fff;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
}

.alert-success-message.active{
    display: flex;
}

.alert-success-message .icon svg{
    color: #fff;
    margin-right: 10px;
    font-size: 24px;
    position: relative;
    top: -2px;
}

@media only screen and (max-width: 576px){
    
    .simple-tit h1{
        font-size: 24px;
    }
}