.reservation{
    padding: 60px 0;
}

.reservation .title{
    font-size: 35px;
    font-family: var(--semiBold);
    background: #f5f5f5;
    width: 100%;
    padding: 50px 10%;
}

.reservation-content{
    display: flex;
    padding: 30px 10%;
    justify-content: space-between;
}

.reservation-content .body{
    width: 75%;
}

.reservation-content .mapped-price{
    width: 20%;
    background: #f5f5f5;
    padding: 30px;
    height: 140px;
}

.reservation-content .mapped-price .s-top{
    font-family: var(--semiBold);
    margin-bottom: 20px;
}

.reservation-content .mapped-price .cost{
    display: flex;
}

.reservation-content .mapped-price .cost span.freq{
    border: 1px solid var(--blue);
    text-transform: capitalize;
    height: 40px;
    width: 90px;
    line-height: 40px;
    text-align: center;
    margin-right: 10px;
}

.reservation-content .mapped-price .cost span.pr{
    font-size: 20px;
    font-style: normal;
    height: 40px;
    line-height: 40px;
}

.step{
    margin-bottom: 30px;
}

.step .step-title{
    height: 50px;
    background: #f5f5f5;
    line-height: 50px;
    font-family: var(--semiBold);
    font-size: 16px;
}

.step .step-title span{
    display: inline-block;
    width: 50px;
    text-align: center;
    background: #e5e5e5;
    margin-right: 15px;
}

.step-content{
    margin-top: 50px;
}

.step-content .choosed-house{
    width: 100%;
    display: flex;
    padding: 20px;
    border: 2px solid var(--blue);
}

.step-content .choosed-house img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 3px;
}

.step-content .choosed-house .ch-title{
    font-size: 20px;
    margin-bottom: 5px;
}

.step-content .choosed-house svg{
    font-size: 17px;
    margin-right: 3px;
}