.saved-container{
    position: relative;
    padding-top: 60px;
    display: flex;
    min-height: 100vh;
    padding-left: 10%;
}

.saved-container .saved-list{
    width: 60%;
    padding: 80px 40px 40px 0;
}

.saved-container .map{
    width: 40%;
    height: 100vh;
    background: #e5e5e5;
    position: sticky;
    top: 60px;
    margin-bottom: 0;
}

.saved-list .top{
    display: flex;
    justify-content: space-between;
}

.saved-list .top .left span{
    display: block;
    font-size: 20px;
    font-family: var(--semiBold);
}

.saved-list .view{
    display: flex;
}

.saved-list .view svg{
    font-size: 30px;
    margin: 0 5px;
    color: #999;
    cursor: pointer;
    transition: 0.3s;
}

.saved-list .view svg:hover{
    color: #323232;
}

.property-list{
    margin-top: 40px;
}

.property-list .loader{
    margin: 100px auto;
}

.property-list.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

svg.colored-blue{
    color: var(--orange);
}

.property-block{
    display: flex;
    color: #000;
    margin-bottom: 40px;
    position: relative;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    height: 325px;
}

.property-block .agency-avatar{
    position: absolute;
    top: 10px;
    left: 15px;
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 50%;
    padding: 5px;
}

.property-block .agency-avatar img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.property-block .agency-avatar div{
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    text-align: center;
    font-size: 40px;
    font-family: var(--semiBold);
    color: #fff;
}

.property-block:hover{
    color: #000;
}

.property-block .type{
    position: absolute;
    right: 15px;
    top: 15px;
    background: var(--blue);
    color: #fff;
    padding: 3px 0;
    width: 125px;
    text-align: center;
    border-radius: 3px;
}

.property-block .pictures-elem{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.pictures-elem .pictures-long{
    width: 59.7%;
}

.pictures-elem .pictures-small{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.property-block .pictures-elem img{
    width: 100%;
    object-fit: cover;
    border-radius: 3px 0 0 3px;
    height: 100%;
}

.pictures-elem .pictures-small img{
    height: 49.5%;
    border-radius: 0;
}

.property-block .property-body{
    padding: 15px;
    position: relative;
    width: 60%;
}

.property-block .property-bottom .cost{
    font-size: 19px;
}

.property-block .property-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    position: absolute;
    width: 90%;
    /* background-color: red; */
    bottom: 10px;
}

.property-block .title{
    font-size: 20px;
    color: var(black);
    margin-top: 3px;
    margin-bottom: 3px;
}

.property-block .date{
    margin-top: 10px;
}

.property-block .location{
    color: #727272;
    margin-bottom: 10px;
}

.property-block .sub-element{
    display: flex;
}

.property-block .sub-element div{
    margin-right: 20px;
}

.property-block .sub-element div svg{
    position: relative;
    top: -3px;
    color: #323232;
    margin-right: 3px;
}

.property-block .desc{
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
         /* fallback */
    max-height: 50px;      /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.property-block .date{
    color: #727272;
}

.pr-skeleton-cont .property-skeleton{
    display: inline-block;
    width: 100%;
    height: 254px;
    margin-bottom: 20px;
}

/* Mobile */


@media only screen and (max-width: 1200px){
    .mainContent{
        display: block;
    }

    .listing-item-side{
        padding-right: 0;
        padding-left: 0;
        border-right: none;
    }

    .PropertiesListe {
        width: 90%;
        margin: 0 auto;
    }

    .extra-side{
        width: 100%;
        padding: 30px;
    }

    .second-bar{
        padding-left:0;
    }

    .saved-container{
        flex-direction: column;
        padding-left: 0;
        width: 90%;
        margin: auto;
    }

    .saved-container .map{
        width: 100%;
    }

    .saved-container .saved-list {
        padding: 80px 0px 40px 0;
    }

    .saved-container .saved-list {
        width: 100%;
    }
    
}

@media only screen and (max-width: 992px) {

    /* .property-block{
        height: 280px;
    } */

    .property-body .desc{
       display: none!important;
    }

    .property-block .property-bottom {
        position: relative;
        bottom: -37px;
    }

    .pictures-elem .pictures-small {
        width: 0;
        display: none;
    }

    .pictures-elem .pictures-long {
        width: 100%;
    }

    .map.saved-prop{
        display: none;
    }

}


@media only screen and (max-width: 768px){
    .property-block .property-bottom {
        position: relative;
        bottom: -22px;
    }

    .property-block .date {
        display: none;
    }

    .saved-container .saved-list {
        padding: 50px 0px 40px 0;
    }

    .property-body .id{
        margin-bottom: 15px;
        margin-top: 35px;
        display: none;
    }

    .property-block .pictures-elem{
        width: 100%;
    }

    .property-block .property-body {
        padding: 15px;
        width: 100%;
        padding-top: 50px;
    }

    .property-block .location{
        font-size: 14px;
    }
    
    
}



@media only screen and (max-width: 992px) {
    .property-block .title {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 768px){
    .property-block {
        height: auto;
        flex-direction: column;
    }

    .property-block .property-body {
        width: 100%;
        padding-top: 15px;
    }

    .property-block .property-bottom {
        bottom: 0;
    }

    .property-block .pictures-elem{
        height: 250px;
    }


    .property-block .agency-avatar {
        width: 50px;
        height: 50px;
        background-color: transparent;
    }

    .property-block .agency-avatar img {
        width: 50px;
        height: 50px;
        border: 3px solid #fff;
    }

    .property-block .agency-avatar div{
        font-size: 25px;
        border: 2px solid #fff;
    }
}