.services_box{
    width: 100%;
    min-height: 250px;
    padding:30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.services_items{
    width: 30%;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
    min-height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid var(--orange);
    border-radius: 20px;
    transition: all .3s ease-in-out;
}


.services_items:hover{
    
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.45); 
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.45);
   border: 1px solid transparent;
    
}

.services_items h3{
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}

.services_items p{
    text-align: center;
    text-overflow: ellipsis;
    
}

.services_contact{
    display: flex;
    justify-content: center;
    align-items: center;
}

.services_contact a.link_text{
    
    color:var(--orange)!important; 
}

button.service-link{
    padding: 5px 20px;
    background-color: #fff;
    color:var(--orange);
    border:1px solid var(--orange);
    border-radius: 20px;
    transition: all .3s ease-in-out;
}

button.service-link:hover{
    background-color:var(--orange);
    color:#fff;
}

.services_contact .link_text {
    padding: 15px 15px;
    
}

.service_text{
    width: 600px;
    margin: 0 auto;
}


.text-center.services{
    background-color: var(--grey);
    padding: 30px 25px;
}

.service-picto{
    width: 55px;
    margin-bottom: 15px;
}

@media only screen and (max-width: 768px){
    .services_box{
        padding-top: 0;
       
    }
    .services_items{
        width: 100%;
        min-height: 150px;
        margin-right: 0px;
    }


    .service_text {
        width: 100%;
    }

}