.locationInfo{
    width:100% ;
    position: absolute;
    z-index: 12;
}

.commune_name{
    font-size: 25px;
    color: #222;
    font-weight: 600;
    margin-bottom: 0;
}

.nbr_properties{
    font-size: 20px;
    font-weight: 400;
    color: #222;
}

.col-midle .nbr_properties , .col-midle .commune_name{
    color:#fff;
}

.linkBtn , .linkBtn:hover{
    font-size: 18px;
    position: absolute;
    font-weight: 500;
    bottom: 10px;
    right: 10px;
    color: var(--orange);
    z-index: 10;
    text-transform: capitalize;
}

.linkBtn.arrowcenter{
    color: #fff;
}

.linkBtn.arrowcenter .MuiSvgIcon-root{
    color: #fff;
}

.linkBtn .MuiSvgIcon-root{
    color: var(--orange);
}

.col-midle .linkBtn, .col-midle .linkBtn .MuiSvgIcon-root{
    color: #fff;
}


/*  location grid */

.location_row{
    width: 100%;
    height: 600px;
    display: grid;
    gap: 10px 35px;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.row-1{
    display: grid;
    grid-template-rows: auto auto;
    row-gap:10px;
}

.commune_img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left:0;
    filter: brightness(0.5);
    transition: all .3s ease-in-out;
}

.col-top, .col-midle{
    position: relative;
    border-radius: 10px;
    border: 1px solid #bdc8e0;
    padding: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    overflow: hidden;
    transition: all .3s ease-in-out;
}


.col-top:hover .commune_img, .col-midle:hover .commune_img{
    transform: scale(1.2);
}

.col-midle{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-image: url(../assets/abidjan.png); */
    overflow: hidden;
    /* background-color: red; */
}

.col-midle::after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    top: 0;
    left: 0;
    border-radius: 10px;
}

.row-2{
    display: grid;
    grid-template-rows:auto;
    border-radius: 10px;
    
}

@media only screen and (max-width: 992px){
    .location_row {
        height: 400px;
        gap: 10px 20px;
        padding: 10px;
    }

    .col-top, .col-midle {
        margin-bottom: 5px;
    }

    .commune_name{
        font-size: 18px;
    }

    .nbr_properties{
        font-size: 16px;
    }

    .linkBtn{
        font-size: 16px;;
    }
}
@media only screen and (max-width: 576px){
    .location_row{
        height: auto;
        display: block;
    }

    .row-1,.row-2{
        height: 350px;
        margin:15px ;
    }
}
