@import "view/fonts/gilroy/style.css";
@import "./view/css/reservation.css";

body{
    font-family: 'Gilroy-Medium ☞', sans-serif !important;
    --bold: "Gilroy-Bold ☞";
    --regular: "Gilroy-Regular ☞";
    --semiBold: "Gilroy-Medium ☞";
    --light: "Gilroy-Light ☞";
    --heavy: "Gilroy-Heavy ☞";
    font-size: 17px !important;
    /* --blue: #0E8DC7;
 --orange: #22d567;
  --blue:#3880a0;
 */
    --blue:#03a0e3;
    --orange:#8ac411;
    --black:#060808;
    --grey:#f1F1F1;
}

body iframe{
    display: none;
}

p{
    line-height: 2;
}

.m-container{
    width: 85%;
    padding: 50px 20px;
    margin: 0 auto;
}

.custom-Container{ 
    width: 95%;
    min-height: 15px;
    padding: 15px;
    margin:0 auto;
}

.display-position{
    display: flex;
    align-items: center;
}

.MuiSvgIcon-root{
    color:#323232;
}


.map{
    width: 100%;
    height: 400px;
    background-color: #323232;
    margin-bottom: 15px;
}

.property-detailGroup{
    width: 100%;
    min-height: 100px;
    background-color: #f2F2F2;
    padding: 15px;
}

.location_Detail{
    display: flex;
    align-items: center;
}

.location_Detail li:not(:last-child){
    margin-right: 20px;
}


.website{
    padding-top: 80px;
}

ul li{
    list-style: none;
}


a , a:hover{
    text-decoration: none;
}

button{
    border: none;

}

.dFlex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul{
    margin-bottom: 0!important;
}

 a:hover{
    text-decoration: none !important;
}

.sectionTitle{
    font-size: 28px;
    /* color:#343C6A; */
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    font-family: var(--bold);
}

.sectionTitle.center{
    text-align: center;
}

.m-container .sectionTitle.flex{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.m-container .sectionTitle.flex .other{
    font-size: 16px;
    color: var(--black);
}

.sectionTitle.white{
    color:#fff;
    display: block;
}

.smallTitle{
    font-size: 17px;
}

.padding{
    padding-top:250px;
}

.text-color{
    color:var(--orange);
}

.Btn_default {
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    background-color: var(--orange);
    font-size: 17px;
    font-weight: 500;
}

.d-left{
    display: block;
    margin-left: auto;
}

/* home banner */
.banner{
    width: 100%;
    position: relative;
    display: flex;
    height: 100vh;
}

.banner_text{
    flex:1;
}

.text-box{
    position: absolute;
    width: 700px;
    min-height:  150px;
    top:15%;
    padding-top:150px;
    padding-left: 180px;
}

.text-box h1{
    font-size: 45px;
    text-transform: capitalize;
    font-weight: bold;
    /* color:#343C6A; */
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.49);
}

.banner_img{
    flex:1;
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.2));
    background-size: cover;
    background-position: center;
    height: 100%;
}

/* section partenaire slider */

.partenaire_slick{
    width:100%;
    padding:50px 0;
}

.my-container{
    width:80%;
    margin: 0 auto;
    padding:15px 0;
}

.slider_items{
    padding:15px;

}

.slider_items div{
    padding:16px;
}

.slider_items div{
    padding:16px;
    width: 100px;
    height: 150px;
    object-fit: contain;
}

/*  */

.buiding-contain{
    width: 100%;
    height: 500px;
}

.buiding-text a{
    text-transform: capitalize;
    font-size: 18px;
    /* color: #ff7848; */
    display:block;
    margin-right: auto;
}

/*
.buiding-text a:hover{
    /* color: #ff7848; 
}
*/

.buiding{
    width: 100%;
    padding:100px 0;
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
}

.building-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* serves properties*/

.serve_items{
    margin-bottom: 20px;
    border: 1px solid rgb(223, 218, 218);
    border-radius: 7px;
}

input:focus,
button:active,
select:focus{
    outline: none;
}

/* loadMore btn */

.btnMore{
    background-color: #fff;
    border:1px solid var(--orange);
    text-transform: capitalize;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    padding:5px 20px ;
    color:var(--orange);
    transition: all .3s ease-in-out;
    display: block;
    margin-top: 15px;

}

.btnMore:hover{
    background-color: var(--orange);
    color:#fff;
}

    .alert-visual{
    display: none;
    position: fixed;
    right: 30px;
    top: 100px;
    background: #323232;
    color: #fff;
    padding: 15px;
    max-width: 350px;
    border-radius: 3px;
}

.alert-visual.show{
    display: block;
}

.biggest-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.biggest-modal-content{
    position: relative;
    width: 500px;
    height: 400px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
}

.biggest-title{
    padding: 20px 30px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 16px;
    font-family: var(--semiBold);
}

.biggest-modal-content .close{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.biggest-modal-content p{
    margin-bottom: 30px;
}

.biggest-container{
    padding: 20px 30px;
}


.compagneBg{
    height: 500px;
    padding: 30px 0;
    min-height: 450px;
    padding: 50px 0;
    position: relative !important;
    display: flex;
    align-items: center;
    overflow: hidden;
}

video{
    position:absolute;
    width: 100%;
    height: 100%;
}

.compagneBg img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 12;
}

.compagneBg-gradient{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 13;
    background-image: linear-gradient(to right, #000000ba, #00000024);
}


.b-textBox{
    width: 70%;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    position: relative;
    left: 8%;
    padding: 30px 15px;
    z-index: 14;
    color:#fff;
}

/* .buiding-text{
    margin-top: 122px;
} */

.campagneLink{
    display: block;
    background-color: var(--orange);
    text-align: center;
    /* height: 50px; */
    /* line-height: 50px; */
    border:1px solid var(--orange);
    width: 220px;
    border-radius: 50px;
    color: #fff!important;
    transition: all .3s ease-in-out;
    margin-top: 20px;
    padding: 10px 30px;
}

.campagneLink svg{
    margin-left: 5px;
    color: #fff;
    font-size: 17px;
    position: relative;
    top: -1px;
    left: 0;
    transition: 0.5s;
}

.campagneLink:hover{
    background-color: transparent!important; 
    color:var(--orange)!important;
}

.campagneLink:hover svg{
    color: var(--orange);
    left: 10px;
}

.empty-list{
    margin: 80px auto 0;
    text-align: center;
}

.empty-list img{
    margin-bottom: 30px;
}

.sample-page{
    width: 80%;
    padding: 130px 10% 80px;
    font-size: 17px;
}

.sample-page.policy{
    width: 85%;
    padding: 50px 20px;
    margin: 0 auto;
    font-size: 16px;
}

.sample-page .intro{
    font-size: 18px;
    font-family: var(--bold);
    margin-bottom: 15px;
}

.sample-page p li{
    list-style-type: circle;
    margin-left: 30px;
    margin-top: 5px;
}

strong.blue{
    cursor: pointer;
    color: var(--blue);
}


.keleton-ligneRow{
    display: flex;
    justify-content: space-between;
}



/* .propertyBox-6{
    flex:1;
} */

.proprety_items{
    margin-right: 15px;
}

.proprety_items{
    border:1px solid #bdc8e0;
    border-radius: 5px;
    padding: 10px;
    border-radius: 5px;
    min-height: 100px;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    cursor: pointer;
    
}

.proprety_items:hover .proprety_items_illustration img{
transform: scale(1.1);
}

.proprety_items_illustration{
    height: 250px;
    position: relative;
}

.agent-fav{
    position: absolute;
    width: 100%;
    padding: 30px 20px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1500;
    top:10px;
}

.feature-agent_avatar{
    width: 60px;
    height: 60px;
    background-color: #292929;
    border-radius: 50%;
    border:5px solid  #fff;
    overflow: hidden;
}

.feature_property-title{
    font-size: 20px;
    color: var(--blue);
}


.proprety_items_illustration img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s ease-in-out;
}

.proprety_items_illustration{
    position:relative;
    border-radius: 7px;
    margin-bottom: 20px;
    overflow: hidden;

}

.display-flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 0;

}

.description_btn button{
    padding: 5px 10px;
    font-size: 13px;
    font-weight: 400;
    text-transform: capitalize;
    background-color: transparent;
    border-radius:7px;

}

.btn_r{
    border:1px solid rgb(59, 165, 59);
    margin-left: 10px;
    color:rgb(59, 165, 59);
}

.btn_s{
    margin-left: 10px;
    border:1px solid rgb(218, 22, 22);
    color: rgb(218, 22, 22);
}

.btn_f{
    border:1px solid #343C6A;
 
    color:#343C6A;
}

.p_id{
   margin-bottom: 0;
   font-size: 13px;
   text-transform: capitalize;
   color:#727272;

}

.proprety_items_description h4{
    font-size: 18px;
    color:#343C6A;
    text-transform: capitalize;
}

.price{
    font-size: 18px;
    font-weight: bold;
    color: var(--blue);
}

.feature_property-adress{
    color: #727272;
    margin-bottom: 10px;
/*  */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fav{
    background-color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fav.mark{
    background: var(--blue);
}

.fav.mark svg{
    color: #fff;
}

.sample-page ul li {
    margin-left: 30px;
    margin-top: 5px;
}
/* responsive */
@media only screen and (max-width: 992px) {
    .b-textBox {
        width: 70%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .long-picto-card{
        margin-right: 0!important;
    }

    .ul-box ul {
        padding-left: 0!important;
    }
    

    .picto-card{
        margin-right: 0!important;
    }

    .buiding-text {
        margin-top: 20px;
    }


    .buiding-text a {
        font-size: 15px;
    }

    .campagneLink{
        width: 180px;
        padding:7px;
    }

    .steper .uno-step{
        flex-direction: column;
        margin-right: 15px;
    }

    .sample-page.policy{
        width: 90%;
        padding: 30px 5px;
        margin: 0 auto;
        font-size: 16px;
    }
}

@media only screen and (max-width: 768px){

    .compagneBg{
        height:300px!important ;
    }

    .steper {
        display:none!important;
    }
}

@media only screen and (max-width: 576px){

    .sectionTitle ,
    .sectionTitle.white{
        font-size: 24px;
    }


    .smallTitle{
        font-size: 14px;
    }


    .b-textBox {
        width: 100%;
        top:0;
        padding: 20px;
        left:0;
    }

    .m-container .sectionTitle.flex{
        flex-direction: column;
    }

    .compagneBg{
        min-height: 350px;
    }


    .sectionTitle.white{
        margin-bottom: 8px;
    }


    .sectionTitle.serve-title{
        margin-bottom: 0;
        padding-left: 16px;
    }
}


@media only screen and (max-width: 360px){
    p{
        text-align: justify;
    }

    .title-gestion {
        font-size: 25px;
    }
    
}

.sample-title{
    font-size: 35px;
    font-family: var(--bold);
    margin-bottom: 40px;
}

.steper{
    display: flex;
    justify-content: space-around;
}

.steper .uno-step{
    width: 300px;
    display: flex;
    margin-top: 20px;
}

.steper .uno-step svg{
    color: var(--blue);
    font-size: 40px;
    margin-right: 20px;
}

.steper .uno-step span{
    display: block;
    font-family: var(--bold);
    margin-bottom: 3px;
}

.logoLink img{
    width: 130px;
}

.strong_p{
    font-family:var(--bold) ;
}
